
{# Fetch products for the current page #}
{# {% set productsQuery = craft.products().limit(12) %}
{% paginate productsQuery as pageInfo, productsss %} #}
    
<div class="contained-content  pb-2 pb-md-vw-xs">
    <div class="contain d-flex flex-column flex-sm-row">
        <div class="col-12 col-sm-4">
            <ul class="list-unstyled">
            {% nav category in categories %}
                <li>
                <a class="{{category.slug}}" href="{{ category.url }}">{{ category.title }}</a>
                {% ifchildren %}
                    <ul class="{{category.slug}}">
                    {% children %}
                    </ul>
                {% endifchildren %}
                </li>
            {% endnav %}
            </ul>
        </div>

        <div class="col-12 col-sm-8">
            <div class="d-flex flex-column flex-sm-row flex-sm-wrap">
                {% for product in products %}
                <a class="col-12 col-sm-6 col-md-4 mb-2 p-sm-1" href="{{ product.url }}">
                    {% set enabledVariants = product.variants %}
                    {% set defaultVariant = enabledVariants | filter(v => v.enabled and v.isDefault) | first %}
                    {% if defaultVariant %}
                        {% set img = defaultVariant.image.one() %}
                        {% if img %}
                            <img src="{{ img.getUrl }}" alt="{{ img.alt }}" class="img-fluid mb-1">
                        {% endif %}
                    {% endif %}

                    <h2 class="text-primary">{{ product.title }}</h2>
                    {% if product.bodyText2 %}
                        <div class="brand">{{ product.bodyText2 }}</div>
                    {% endif %}

                    <div class="price d-flex flex-row">
                        {% set prices = enabledVariants | map(v => v.price) | sort %}

                        {% if prices|length == 1 %}
                            <p>${{ prices[0] | number_format(2, '.', ',') }} exc NZ GST</p>
                        {% else %}
                            <p>${{ prices[prices|length - 1] | number_format(2, '.', ',') }} - ${{ prices[0] | number_format(2, '.', ',') }} <span class="text-primary">exc NZ GST</span></p>
                        {% endif %}
                    </div>
                </a>
                {% endfor %}
            </div>


             {# <div class="d-flex  flex-md-row">
                <nav role="navigation" aria-label="Search result pagination" class="w-100">
                    <ul class="pagination d-flex flex-row w-100 justify-content-center">
                        <li class="px-1">
                            <a href="{{ pageInfo.getPrevUrl() }}">
                                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                                </svg>
                            </a>
                        </li>

                        {% for page in 1..pageInfo.totalPages %}
                            <li class="px-1">
                                {% if pageInfo.currentPage == page %}
                                    <strong>{{ page }}</strong>
                                {% else %}
                                    <a href="{{ pageInfo.getPageUrl(page) }}">{{ page }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                        <li class="px-1">
                            <a href="{{ pageInfo.getNextUrl() }}">
                                <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div> #}
        </div>
    </div>
</div>        