{% macro listDescendantSlugs(category) %}
    {% for child in category.children %}
        {{ child.slug }}
        {% if child.children|length > 0 %}
            {{ _self.listDescendantSlugs(child) }}
        {% endif %}
    {% endfor %}
{% endmacro %}
{% import _self as helpers %}  


<div class="contained-content  pb-2 pb-md-vw-xs">
    <div class="contain d-flex flex-column flex-sm-row">
        <div class="col-12 col-sm-4">
            <ul class="list-unstyled products-nav">
                <li>
                     <a class="{{ craft.app.request.url == '/products' ? 'active' : '' }}" href="/products">All products</a>
                </li>
                {% nav category in categories %}
                    <li>
                        <a class="{{category.slug}} {{ craft.app.request.url == '/shop/' ~ category.slug ? 'active' : '' }}" href="{{ category.url }}">{{ category.title }}</a>
                        {% ifchildren %}
                            <ul class="category-groups {{ category.slug }} {% if category.Parent %} {{ category.Parent.slug }}{% endif %}
                                {{ helpers.listDescendantSlugs(category) }}">
                                {% children %}
                            </ul>
                        {% endifchildren %}
                    </li>
                {% endnav %}
                <li>
                    <a class="" href="/about/windows">Windows</a>
                </li>
            </ul>
        </div>

        <div class="col-12 col-sm-8">
            <div class="d-flex flex-column flex-sm-row flex-sm-wrap">
                {% for product in products %}
                <a class="col-12 col-sm-6 col-md-4 mb-2 p-sm-1" href="{{ product.url }}">
                    {% set enabledVariants = product.variants %}
                    {% set defaultVariant = enabledVariants | filter(v => v.enabled and v.isDefault) | first %}
                    {% if defaultVariant %}
                        {% set img = defaultVariant.image.one() %}
                        {% if img %}
                            <img src="{{ img.getUrl }}" alt="{{ img.alt }}" class="img-fluid mb-1">
                        {% endif %}
                    {% endif %}

                    <h2 class="text-primary">{{ product.title }}</h2>
                    {% if product.bodyText2 %}
                        <div class="brand">{{ product.bodyText2 }}</div>
                    {% endif %}

                    <div class="price d-flex flex-row">
                        {% set prices = enabledVariants | map(v => v.price) | sort %}

                        {% if prices|length == 1 %}
                            <p>${{ prices[0] | number_format(2, '.', ',') }} exc NZ GST</p>
                        {% else %}
                            <p>${{ prices[prices|length - 1] | number_format(2, '.', ',') }} - ${{ prices[0] | number_format(2, '.', ',') }} <span class="text-primary">exc NZ GST</span></p>
                        {% endif %}
                    </div>
                </a>
                {% endfor %}
            </div>

        </div>
    </div>
</div>        

