    {% set cart = craft.commerce.carts.cart %}
    <div class="modal fade" id="cartSummary" tabindex="-1" aria-labelledby="yourItems" aria-hidden="true" data-bs-keyboard="true">
      <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header d-flex flex-row justify-content-between px-1 py-2 p-highRes-2vw">
            <h2 class="cust-font-5" id="yourItems">Your items</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body d-flex flex-column p-0 justify-content-between">
            <div class="p-1 p-highRes-2vw">

                {% if cart.lineItems|length %}
                    <ul class="cart-preview">
                        {% for item in cart.lineItems %}
                            {% set product = item.purchasable %}
                            <li class="cart-item">
                                <div class="cart-item-info">
                                    <h4 class="cart-item-title">{{ product.product.title }}</h4>
                                    <p class="cart-item-price">{{ item.salePrice|currency(cart.paymentCurrency) }}</p>

                                    {# <form method="post" action="" id="cartForm">
                                        {{ csrfInput() }}
                                        {{ actionInput('commerce/cart/update-cart') }}
                                        <label for="quantity-{{ item.id }}">Quantity:</label>
                                        <input type="number" id="quantity-{{ item.id }}" name="lineItems[{{ item.id }}][qty]" value="{{ item.qty }}" min="1" step="1">
                                        
                                        
                                        {{ input('checkbox', 'lineItems[' ~ item.id ~ '][remove]', 1) }}
                                        <button type="submit" name="remove" value="1">Remove</button>
                                        <button type="submit" name="update" value="1" >Update Quantity</button>
                                    </form> #}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Your cart is empty.</p>
                {% endif %} 



            </div>
            <div class="d-flex flex-row justify-content-between align-items-center p-1 p-highRes-2vw border-top border-primary">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Continue shopping</button>
                <a href="{{ url('/shop/cart') }}" role="button" class="btn btn-secondary">Checkout</a>
            </div>
          </div>
        </div>
      </div>
    </div>




