{% extends "shop/_private/layouts" %}
{#
Outputs cart.

@var cart \craft\commerce\elements\Order
#}

{% block main %}


    <div class="contain d-flex flex-column flex-sm-row flex-wrap ">
        <h1>Cart</h1>
    </div>
    <div class="contain d-flex flex-column flex-sm-row flex-wrap ">
        {% if cart.lineItems|length %}
            <div class="col-12 col-md-8">
                <form method="post" action="">
                    {{ csrfInput() }}
                    {{ actionInput('commerce/cart/update-cart') }}
                    {{ successMessageInput('Cart updated.'|t) }}

                    <div class="cart-wrapper">
                        {% for item in cart.lineItems %}
                            <div class="each-item d-flex flex-column flex-sm-row flex-sm-wrap my-3 pb-2 border-bottom border-cust-lightGrey w-100">
                                <div class="col-12 col-sm-6 col-md-4 pe-md-1">
                                    <h2 class="small-heading bold mb-0{% if item.hasErrors() %} text-cust-red{% endif %}">
                                       <a href="{{ item.purchasable.product.getUrl() }}"> {{- item.description -}} </a>
                                    </h2>
                                    <p>{{ item.sku }}</p>
                                    <div class="mt-1  my-sm-1 mb-md-0 mt-md-2">
                                        <label>
                                            {{ input('checkbox', 'lineItems[' ~ item.id ~ '][remove]', 1) }} <span>{{ 'Remove'|t }}</span>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-md-2 my-1 my-sm-0 pe-md-1 ">
                                    {% set hasDonationAmount = item.options.donationAmount is defined %}
                                    <div class="{{ hasDonationAmount ? ' hidden' : '' }}">
                                        <span class="text-gray-500 text-xs block">
                                            {{- 'Qty'|t -}}
                                        </span>
                                        {{ input(hasDonationAmount ? 'hidden' : 'number', 'lineItems[' ~ item.id ~ '][qty]', item.qty, {
                                            min: 0,
                                            class: [
                                            item.getFirstError('qty') ? 'border-red-500 border',
                                            'border border-gray-300 hover:border-gray-500 ps-1 w-100'
                                            ]
                                        }) }}      
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 d-flex flex-column justify-content-between">
                                    <div>
                                        {% if not cart.hasErrors() %}
                                            <p class="d-flex flex-row justify-content-between text-sm mb-0" title="{{ item.price }}">
                                                Price exc. GST: <span class="">{{ item.priceAsCurrency }}</span>
                                            </p>

                                            <p class="d-flex flex-row justify-content-between text-sm mb-0" title="{{ item.subtotal }}">
                                                Subtotal exc. GST: <span class="">{{ item.subtotalAsCurrency }}</span>
                                            </p>
                                        {% endif %}

                                        {% if not cart.hasErrors() and item.adjustments|length %}
                                            {% for adjustment in item.adjustments %}
                                                <p class="d-flex flex-row justify-content-between text-sm " title="{{ adjustment.amount }}">
                                                    NZ GST {{ adjustment.description }}: <span class="">{{ ' ' ~ adjustment.amountAsCurrency }}</span>
                                                </p>
                                            {% endfor %}
                                        {% endif %} 
                                    </div>

                                    {% if not cart.hasErrors() %}
                                        <p class="d-flex flex-row justify-content-between" title="{{ item.total }}">
                                            Total incl. GST: <span class="">{{ item.totalAsCurrency }}</span>
                                        </p>
                                    {% endif %}                                                                      
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="cart-totals d-flex flex-column flex-sm-row">
                        <div class="col-12 col-sm-5 col-md-4 order-2 order-sm-1">
                            {{ redirectInput('shop/cart') }}
                            <button type="submit" class="btn btn-cust-teal w-100 mb-10px">
                            {{- 'Update Cart'|t -}}
                            </button>

                            {% if not cart.hasErrors() %}
                            <a href="{{ url('shop/checkout') }}" class="btn btn-cust-red text-light w-100">{{- 'Checkout'|t -}}</a>
                            {% endif %}
                        </div>

                        <div class="col-12 col-sm-6 offset-sm-1 col-md-7 order-1 order-md-2 mb-1 mb-md-0 ">
                            {% if not cart.hasErrors() %}
                                <p class="mb-0 d-flex flex-row flex-wrap justify-content-between">Shipping estimate <span>{{ cart.getTotalShippingCost()|commerceCurrency(cart.currency) }}</span></p>
                                <p class="mb-0 d-flex flex-row flex-wrap justify-content-between">Total excl. GST <span>{{ cart.itemSubtotalAsCurrency }}</span></p>
                                <p class="d-flex flex-row flex-wrap justify-content-between">Total GST <span>{{ cart.getTotalTax()|commerceCurrency(cart.currency) }}</span></p>
                                <h3 class="d-flex flex-row flex-wrap justify-content-between mt-1">Total incl. GST  <span>{{ cart.itemTotalAsCurrency }}</span></h3>
                            {% endif %}
                        </div>
                        
                    </div>
                </form>
                
            </div>
            <div class="col-12 col-md-3 offset-md-1 bg-cust-lightGrey">
                {{ include('shop/cart/_includes/shipping-estimator') }}
            </div>
        {% else %}
            <p>{{ 'Empty cart. Add items on the {link} page.'|t({link: tag('a', { href: url('/products'), text: 'products', class: 'underline' })})|raw }}</p>
        {% endif %}
    </div>

{% endblock %}
