
{% extends 'shop/_private/layouts' %}
{% set docTitle = 'Shop | ' ~ product.title %}

{% set products = craft.products().all() %}
{% set prodVariants = product.variants %}
{% set defaultVariant = prodVariants | filter(v => v.enabled and v.isDefault) | first %}
{% set prices = prodVariants | map(v => v.price) | sort %}

{% block body %}
<div class="contained-content pb-2 pb-md-vw-xs">
    <div class="contain d-flex flex-column flex-md-row">
        <div class="col-12 col-sm-6" id="displayImage">
            {% for variant in product.getVariants() %}
                {% set img = variant.image.one() %}
                {% if img %}
                    <img src="{{ img.getUrl }}" alt="{{ img.alt }}" class="img-fluid variant-image" id="image-{{ variant.id }}" style="display: none;">
                {% endif %}
            {% endfor %}
        </div>

        <div class="col-12 col-sm-6 d-flex flex-column justify-content-center py-1 py-hR-hR1">
            <div class="constant-product">
                <h1>{{ product.title }}</h1>
                <div class="price d-flex flex-row">
                    <p>
                        {% if prices|length == 1 %}
                            ${{ prices[0] | number_format(2, '.', ',') }} exc NZ GST
                        {% else %}
                            ${{ prices[prices|length - 1] | number_format(2, '.', ',') }} - ${{ prices[0] | number_format(2, '.', ',') }} <span class="text-primary">exc NZ GST</span>
                        {% endif %}
                    </p>
                </div>
                <div class="mb-2">
                    {{ product.bodyText }}
                </div>
            </div>
            <div class="changing-details">
                <form method="post" class="mt-6">
                    {{ csrfInput() }}
                    {{ actionInput('commerce/cart/update-cart') }}
                    {{ successMessageInput('{product} added to cart.'|t({ product: product.title })) }}

                    <div class="d-flex flex-column">
                        {% for variant in product.getVariants() %}
                            <label class="flex w-full items-center">
                                {{ tag('input', {
                                    name: 'purchasableId',
                                    type: 'radio',
                                    value: variant.id,
                                    checked: variant.id == defaultVariant.id,
                                    disabled: not variant.availableForPurchase,
                                    class:'me-10px'

                                }) }}
                                <span class="{{ not variant.getIsAvailable() ? 'out-of-stock' : '' }}">
                                    {{ variant.sku }}
                                    {% if variant.inventoryTracked %}
                                        ({{ variant.stock ? variant.stock ~ ' available' : 'out of stock' }})
                                    {% endif %}
                                    {{ variant.price | commerceCurrency ~ ' exc. NZ GST' }}
                                </span>

                                
                            </label>
                        {% endfor %}
                    </div>

                    <div id="variantBodyText" class="my-2 text-gray-700">
                        {% for variant in product.getVariants() %}
                            <div class="variant-body-text" id="bodyText-{{ variant.id }}" style="display: none;">
                                {{ variant.bodyText }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="add-to-cart ">
                        {{ input('number', 'qty', 1, {
                            class: 'border border-cust-darkGrey border-2 px-1',
                            step: 1,
                            min: 1,
                            placeholder: 'Quantity'|t
                        }) }}
                        {{ tag('button', {
                            type: 'submit',
                            class: ['m-0', 'text-center', 'cursor-pointer', 'btn', 'btn-primary'],
                            text: 'Add to cart'|t
                        }) }}
                    </div>
                </form>
            </div>
        </div>
    </div>

     <div class="contain d-flex flex-column flex-md-row">
        <div class="col-12"> 
                <div class="accordion" id="accordionPanelsStayOpenExample">
                {% for variant in product.getVariants() %}
                 {% if variant.bodyText2 %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button py-1" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            Description
                        </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse " aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body py-1">
                                {{variant.bodyText2}}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                    
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button py-1" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
                            Additional Information
                        </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse " aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body py-1">

                            
                            </div>
                        </div>
                    </div>
                    
               
                </div>
        </div>
     </div>
</div>

{% endblock %}

{% block scripts %}
  {{ parent() }}
        <script type="module" src="/js/individual-product-template.js"></script>
{% endblock %}

