{% extends '_layout' %}
{% set bodyAttributes ={ class: "news-entry" } %} 
{% set docTitle = entry.title %} 



{% block content %} 
        <div class="contained-content py-4  py-sm-vw-sm py-md-vw-xs ">
        <div class="contain d-flex flex-column flex-sm-row">
            <div class="col col-12 col-sm-4">
                {% if entry.title %} 
                    <h1>{{entry.title}}</h1>
                    <p>{{ entry.postDate | date }}</p>
                {% endif %} 

            </div>
             <div class="col col-12 col-sm-8 ps-sm-2 ps-hR-hR2">
             {% set img = entry.image.one() %}
                {% if img %}
                    <img src="{{img.getUrl}}" alt="{{img.alt}}" class="img-fluid">
                {% endif %}
                {% if entry.bodyText %} 
                    <div class="mt-2">{{entry.bodyText}}</div>
                {% endif %}
             </div>
        </div>
    </div>
{% endblock %}