{% extends "_layout.twig" %} 
{% set bodyAttributes ={ class: "home-performance-audits" } %} 
{% set docTitle = entry.title %} 
{# {% set metaDesc = entry.metaDescription %}  #}

{% set page = craft.entries().section('homePerformanceAudits').all() %} 
{% block content %} 
    {% for entry in page %} 

    <div class="conatined-content px-1 px-sm-2 px-md-3 py-3 py-md-vw-xs">
        <div class="contain d-flex flex-column flex-sm-row">

            <div class="col col-12 col-sm-6 col-lg-6 col-mb-2 mb-sm-0 p-sm-2 ps-sm-0 p-md-3 ps-md-0 p-hR-hR3 d-flex flex-column justify-content-between">
                {% if entry.heading %}
                    <h1 class="mb-2 mb-md-vw-sm mb-xl-vw-xx">{{entry.heading}}</h1>
                {% endif %}
                {% if entry.bodyText %}
                    <div>{{entry.bodyText}}</div>
                {% endif %}

                {% if entry.buttonLink %}
                    <div class="underline-btn mt-2 mt-md-vw-sm mt-lg-vw-xx">
                        <a href="{{ entry.buttonLink }}" role="button">{{ entry.buttonText }} <i class='bx bx-down-arrow-alt'></i></a>
                    </div>
                {% endif %}
            </div>

              <div class="col col-12 col-sm-6  col-lg-5 offset-lg-1  img-fit-wrapper">
                {% set img = entry.image.one() %}
                {% if img %}
                    <img src="{{img.getUrl}}" alt="{{img.alt}}" class="img-fit">
                {% endif %}
            </div>
        </div>
    </div>

    <div class="conatined-content p-1 px-sm-2 px-md-3 py-3  py-md-vw-xs  bg-cust-lightGrey">
        <div class="contain d-flex flex-column flex-sm-row">

            <div class="col col-12 col-sm-6 col-md-5 img-fit-wrapper mb-2 mb-sm-0">
                {% set img = entry.image2.one() %}
                {% if img %}
                    <img src="{{img.getUrl}}" alt="{{img.alt}}" class="img-fit">
                {% endif %}
            </div>

            <div class="col col-12 col-sm-6 col-lg-7 d-md-flex align-items-md-center p-sm-2 pe-sm-0 p-md-3 p-hR-hR3 pe-md-0 pe-hR-0">
                {% if entry.bodyText2 %}
                    <div class="py-lg-vw-xx">{{entry.bodyText2}}</div>
                {% endif %}
            </div>

        </div>
    </div>


    <div class="conatined-content px-1 px-sm-2 px-md-3 pt-3 pt-md-vw-xs">
        <div class="contain d-flex flex-column">
            {% if entry.heading2 %}
                <h2 class="mb-vw-xs">{{entry.heading2}}</h2>
            {% endif %}
            <div class="d-flex flex-row pb-2">
                <div class="col col-9 col-md-5 pb-md-vw-sm">
                    {% if entry.bodyText3 %}
                        <div>{{entry.bodyText3}}</div>
                    {% endif %}
                </div>
                <div class="col col-2 offset-1 offset-md-0 col-md-2 px-sm-2 px-md-3 px-lg-4 px-hR-hR4 bg-line">
                    {% set img = entry.image3.one() %}
                    {% if img %}
                        <img src="{{img.getUrl}}" alt="{{img.alt}}" class="img-fluid">
                    {% endif %}
                </div>
            </div>

            <div class="d-flex flex-row pb-2">
                <div class="col col-9 col-md-5 order-md-2 pb-md-vw-sm">
                    {% if entry.bodyText4 %}
                        <div>{{entry.bodyText3}}</div>
                    {% endif %}
                </div>
                <div class="col col-2 offset-1 col-md-2 order-md-1 offset-md-5 px-sm-2 px-md-3 px-lg-4 px-hR-hR4 bg-line">
                    {% set img = entry.image4.one() %}
                    {% if img %}
                        <img src="{{img.getUrl}}" alt="{{img.alt}}" class="img-fluid">
                    {% endif %}
                </div>
            </div>
            <div class="d-flex flex-row pb-2">
                <div class="col col-9 col-md-5 pb-md-vw-sm">
                    {% if entry.bodyText5 %}
                        <div>{{entry.bodyText5}}</div>
                    {% endif %}
                </div>
                <div class="col col-2 offset-1 offset-md-0 col-md-2 px-sm-2 px-md-3 px-lg-4 px-hR-hR4 bg-line">
                    {% set img = entry.image5.one() %}
                    {% if img %}
                        <img src="{{img.getUrl}}" alt="{{img.alt}}" class="img-fluid">
                    {% endif %}
                </div>
            </div>

            <div class="d-flex flex-row p-0">
                <div class="col col-9 col-md-5 order-md-2 pb-2 pb-md-vw-sm">
                    {% if entry.bodyText6 %}
                        <div>{{entry.bodyText6}}</div>
                    {% endif %}
                </div>
                <div class="col col-2 offset-1 col-md-2 order-md-1 offset-md-5 px-sm-2 px-md-3 px-lg-4 px-hR-hR4 bg-line">
                    {% set img = entry.image6.one() %}
                    {% if img %}
                        <img src="{{img.getUrl}}" alt="{{img.alt}}" class="img-fluid">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <div class="conatined-content px-1 px-sm-2 px-md-3 py-3 py-md-vw-sm blue-group">
        <div class="contain d-flex mb-2 mb-hR-hR2">
            {% if entry.heading4 %}
                <h2 class="mb-vw-xs">{{entry.heading4}}</h2>
            {% endif %}
        </div>
        <div class="contain d-flex flex-column flex-sm-row flex-sm-wrap three-col-padding">
            {% for matrix in entry.costMatrix.all() %}
                <div class="col-12 col-sm-6 col-md-4 d-sm-flex flex-column justify-content-between pb-3 pb-md-vw-sm">
                    {% if matrix.heading %}
                    <h3 class="fw-bold body-font mb-2 mb-hR-hR2">{{matrix.heading}}</h3>
                    {% endif %}
                    {% if matrix.bodyText %}
                        {{matrix.bodyText}}
                    {% endif %}
                   <div class="border-top border-light border-2 pt-1 mt-2 pt-hR-hR-1 mt-hR-hR2"> 
                    {% if matrix.bodyText2 %}
                        {{matrix.bodyText2}} 
                     {% endif %}
                   </div>
                </div>
            {% endfor %}
        </div> 
        <div class="contain d-flex flex-column flex-sm-row flex-sm-wrap">
            <div class="col-12 col-md-4 order-2 order-md-1">
                {% if  entry.buttonText2 %}
                   <div class="">
                        <a href="#booking-form" role="button" class="btn btn-light">{{ entry.buttonText2 }}</a>
                    </div>
                {% endif %}
            </div>
            <div class="sm-p col-12 col-md-8 ps-md-1 ps-lg-2 order-1 order-md-2"> 
                {% if entry.bodyText8 %}
                {{entry.bodyText8}}
                {% endif %}
            </div>
        </div> 
    </div>


    <div class="conatined-content px-1 px-sm-2 px-md-3 py-3 py-md-vw-xs">
        <div class="contain accordion open d-flex flex-column pb-2 pb-hR-hR2">
            {% for matrix in entry.faqAccordion.all() %}
                {% if matrix.bodyText %}
                <div class="accordion-item">
                    <h3 class="accordion-header py-2 py-hR-hR2" id="panelsStayOpen-heading{{ loop.index }}">
                    <button class="accordion-button collapsed cust-font-5" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{ loop.index }}" aria-expanded="false" aria-controls="panelsStayOpen-collapse{{ loop.index }}">{{matrix.title}}</button>
                    </h3>
                    <div id="panelsStayOpen-collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading{{ loop.index }}">
                        <div class="pb-3 pb-lg-3vw">
                            {{matrix.bodyText}}
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div> 
    </div>


    <div class="p-vw-md bg-primary"></div>


    <div class="conatined-content px-1 px-sm-2 px-md-3 py-3 py-md-vw-xs" id="booking-form">
        <div class="contain d-flex flex-column flex-sm-row">

            <div class="col col-12 col-sm-6  mb-2 mb-sm-0 pe-sm-2  pe-md-3">
                {% if entry.heading3 %}
                    <h2 class="mb-2 mb-hR-hR2">{{entry.heading3}}</h2>
                {% endif %}
                {% if entry.bodyText7 %}
                    <div>{{entry.bodyText7}}</div>
                {% endif %}
            </div>
            <div class="col col-12 col-sm-6  bg-primary">
            <h2> form placeholder</h2>
            </div>
        </div>
    </div>

    {% endfor %} 
{% endblock %}