{% extends "_layout.twig" %} 
{% set bodyAttributes ={ class: "home" } %} 
{% set docTitle = entry.title %} 
{# {% set metaDesc = entry.metaDescription %}  #}

{% set page = craft.entries().section('home').all() %} 
{% block content %} 
    {% for entry in page %} 

            

            


    <div class="d-flex flex-column flex-md-row">
        <div class="col col-12 col-md-4 red-group container-one">
            {% if entry.heading %}
                <h1 class="mb-vw-sm">{{entry.heading}}</h1>
            {% endif %}
            {% if entry.bodyText %}
                <div>{{entry.bodyText}}</div>
            {% endif %}
            {% if entry.buttonLink %}
                <div class="underline-btn">
                    <a href="{{ entry.buttonLink }}" role="button">{{ entry.buttonText }}</a>
                </div>
            {% endif %}
        </div>
        <div class="col col-12 col-md-8 img-fit-wrapper">
            {% set img = entry.image.one() %}
            {% if img %}
                <img src="{{img.getUrl}}" alt="{{img.alt}}" class="img-fit">
            {% endif %}
        </div>
    </div>


    <div class="d-flex flex-column flex-md-row">
        <div class="col col-12 col-md-4 black-group container-one d-flex flex-column justify-content-between">
            {% if entry.heading2 %}
                <h2 class="mb-vw-sm">{{entry.heading2}}</h2>
            {% endif %}
            <div>
                {% if entry.bodyText2 %}
                    <div>{{entry.bodyText2}}</div>
                {% endif %}

                {% if entry.buttonLink2 %}
                    <div class="underline-btn">
                        <a href="{{ entry.buttonLink2 }}" role="button">{{ entry.buttonText2 }}</a>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="col col-12 col-md-4 img-fit-wrapper add-height">
            {% set img2 = entry.image2.one() %}
            {% if img %}
                <img src="{{img2.getUrl}}" alt="{{img2.alt}}" class="img-fit">
            {% endif %}
        </div>

        <div class="col col-12 col-md-4 bg-cust-tan container-one d-flex flex-column justify-content-between">
            {% if entry.heading3 %}
                <h2 class="mb-vw-sm">{{entry.heading3}}</h2>
            {% endif %}

            <div>
                {% if entry.bodyText3 %}
                    <div>{{entry.bodyText3}}</div>
                {% endif %}

                {% if entry.buttonLink3 %}
                    <div class="underline-btn">
                        <a href="{{ entry.buttonLink3 }}" role="button">{{ entry.buttonText3 }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="d-flex flex-column flex-md-row py-md-vw-xs">
        <div class="col col-12 col-md-4 container-one">
            {% if entry.heading4 %}
                <h3 class="text-cust-blue mb-2 mb-hR-hR2">{{entry.heading4}}</h3>
            {% endif %}   
            {% if entry.bodyText4 %}
                <div class="col">{{entry.bodyText4}}</div>
            {% endif %}
        </div>
        <div class="col col-12 col-md-8 img-fit-wrapper">
            <div class="home-info px-5">
                <svg x="0px" y="0px" viewBox="0 0 3754.9 3851.1">
                    <style type="text/css">
                        .Graphic_x0020_Style{fill:none;}
                        .st0{fill:#f0f0f0;}
                        .st1{fill:#E3C7A1;}
                        .st2{fill:#D6D6D6;}
                        .st3{fill:#A7A9AC;}
                        .st4{fill:#4C7C7B;}
                        .st5{fill:#F26848;}
                        .st6{fill:#999999;}
                    </style>
                    <g id="Windows">
                        <a xlink:href="https://5merchants.co.nz/about/windows/" style="opacity: 1;">
                            <g>
                                
                                    <rect x="2865.3" y="2358.4" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 5571.6865 -770.9543)" class="st0" width="612" height="84"></rect>
                                <rect x="3149.3" y="2114.4" class="st1" width="44" height="572"></rect>
                                
                                    <rect x="274.3" y="2358.4" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 2981.7004 1819.0319)" class="st0" width="614" height="84"></rect>
                                <rect x="559.3" y="2113.4" class="st1" width="44" height="574"></rect>
                            </g>
                        </a>
                        <path class="indicatorLine" d="M583.9,2389.3c-7.2,0-13.4,4.3-16.1,10.5H0v14.2h567.8c2.7,6.2,8.9,10.5,16.1,10.5
                            c9.7,0,17.6-7.9,17.6-17.6C601.5,2397.2,593.6,2389.3,583.9,2389.3z"></path>
                    </g>
                    <g id="Ventilation">
                        <a xlink:href="https://5merchants.co.nz/about/ventilation/" style="opacity: 1;">
                            <g>
                                <path class="st0" d="M1877.8,2986.7c-161.2,0-316.8-58.4-438-164.3c-120.1-104.9-198.6-249.2-221.1-406.3l-2.8-19.8l73.4-10.5
                                    l2.8,19.8c20,139.5,89.8,267.8,196.5,361c107.7,94.2,246,146,389.3,146s281.5-51.9,389.3-146c106.7-93.3,176.5-221.5,196.5-361
                                    l2.8-19.8l73.4,10.5l-2.8,19.8c-22.5,157.1-101,301.4-221.1,406.3C2194.6,2928.3,2039,2986.7,1877.8,2986.7z"></path>
                                <path class="st2" d="M1877.8,2966.7c-156.4,0-307.3-56.6-424.9-159.4c-116.5-101.8-192.7-241.8-214.5-394.1l33.8-4.8
                                    c20.7,144.3,92.8,276.8,203.2,373.3c111.4,97.4,254.3,151,402.4,151s291-53.6,402.4-151c110.3-96.4,182.5-229,203.2-373.3
                                    l33.8,4.8c-21.8,152.3-98,292.3-214.5,394.1C2185.1,2910.1,2034.2,2966.7,1877.8,2966.7z"></path>
                                
                                    <rect x="1462.4" y="782.6" transform="matrix(0.7735 -0.6338 0.6338 0.7735 -209.6966 1146.6581)" class="st0" width="74.1" height="168.3"></rect>
                                
                                    <rect x="1482.4" y="802.6" transform="matrix(0.7735 -0.6338 0.6338 0.7735 -209.7043 1146.611)" class="st3" width="34.1" height="128.3"></rect>
                                
                                    <rect x="2095" y="1554.6" transform="matrix(0.7735 -0.6338 0.6338 0.7735 -555.71 1722.3875)" class="st0" width="74.1" height="168.3"></rect>
                                
                                    <rect x="2115" y="1574.6" transform="matrix(0.7735 -0.6338 0.6338 0.7735 -555.7112 1722.343)" class="st3" width="34.1" height="128.3"></rect>
                                
                                    <rect x="1082.9" y="319.4" transform="matrix(0.7735 -0.6338 0.6338 0.7735 -2.0862 801.2344)" class="st0" width="74.1" height="168.3"></rect>
                                
                                    <rect x="1102.9" y="339.4" transform="matrix(0.7735 -0.6338 0.6338 0.7735 -2.0887 801.2279)" class="st3" width="34.1" height="128.3"></rect>
                                
                                    <rect x="1335.9" y="628.2" transform="matrix(0.7735 -0.6338 0.6338 0.7735 -140.4922 1031.5242)" class="st0" width="74.1" height="168.3"></rect>
                                
                                    <rect x="1355.9" y="648.2" transform="matrix(0.7735 -0.6338 0.6338 0.7735 -140.5004 1031.4855)" class="st3" width="34.1" height="128.3"></rect>
                                
                                    <rect x="1715.4" y="1091.4" transform="matrix(0.7735 -0.6338 0.6338 0.7735 -348.1009 1376.9578)" class="st0" width="74.1" height="168.3"></rect>
                                
                                    <rect x="1735.4" y="1111.4" transform="matrix(0.7735 -0.6338 0.6338 0.7735 -348.106 1376.9048)" class="st3" width="34.1" height="128.3"></rect>
                                
                                    <rect x="1968.5" y="1400.2" transform="matrix(0.7735 -0.6338 0.6338 0.7735 -486.5095 1607.1969)" class="st0" width="74.1" height="168.3"></rect>
                                
                                    <rect x="1988.5" y="1420.2" transform="matrix(0.7735 -0.6338 0.6338 0.7735 -486.5099 1607.1841)" class="st3" width="34.1" height="128.3"></rect>
                                <path class="st0" d="M2456.1,2194.4c-8.5-39.3-21.2-77.8-37.5-114.5l-8.1-18.3l67.7-30.2l8.1,18.3
                                    c18.4,41.3,32.7,84.7,42.3,128.9l4.2,19.5l-72.4,15.7L2456.1,2194.4z"></path>
                                <path class="st3" d="M2509,2182.9c-9.3-42.9-23.1-84.9-41-125l-31.1,13.9c16.9,38,30,77.8,38.8,118.4L2509,2182.9z"></path>
                                
                                    <rect x="1588.9" y="937" transform="matrix(0.7735 -0.6338 0.6338 0.7735 -278.9038 1261.7661)" class="st0" width="74.1" height="168.3"></rect>
                                
                                    <rect x="1608.9" y="957" transform="matrix(0.7735 -0.6338 0.6338 0.7735 -278.9026 1261.7762)" class="st3" width="34.1" height="128.3"></rect>
                                
                                    <rect x="1209.4" y="473.8" transform="matrix(0.7735 -0.6338 0.6338 0.7735 -71.2949 916.3579)" class="st0" width="74.1" height="168.3"></rect>
                                
                                    <rect x="1229.4" y="493.8" transform="matrix(0.7735 -0.6338 0.6338 0.7735 -71.298 916.3455)" class="st3" width="34.1" height="128.3"></rect>
                                
                                    <rect x="2221.5" y="1708.9" transform="matrix(0.7735 -0.6338 0.6338 0.7735 -624.9136 1837.4785)" class="st0" width="74.1" height="168.3"></rect>
                                
                                    <rect x="2241.5" y="1728.9" transform="matrix(0.7735 -0.6338 0.6338 0.7735 -624.9138 1837.4628)" class="st3" width="34.1" height="128.3"></rect>
                                <path class="st0" d="M2387.8,2020.3c-15.8-26.8-33.9-52.6-53.8-76.6l-31-37.8l57.3-47l30.9,37.7c22.3,26.9,42.6,55.9,60.4,86.1
                                    l10.2,17.2l-63.8,37.7L2387.8,2020.3z"></path>
                                <path class="st3" d="M2375.7,1909.3l-18.2-22.2l-26.4,21.6l18.2,22.3c20.6,24.8,39.3,51.5,55.7,79.2l29.4-17.3
                                    C2417.1,1963.6,2397.4,1935.4,2375.7,1909.3z"></path>
                                
                                    <rect x="1412.9" y="1756.1" transform="matrix(0.6336 -0.7737 0.7737 0.6336 -838.7914 1815.3507)" class="st0" width="168.3" height="74.1"></rect>
                                
                                    <rect x="1432.9" y="1776.1" transform="matrix(0.6336 -0.7737 0.7737 0.6336 -838.7913 1815.3545)" class="st3" width="128.3" height="34.1"></rect>
                                <path class="st0" d="M1293.8,2000l10.2-17.2c18-30.5,38.6-59.8,61.3-87.1l30-36.6l57.3,46.9l-30.2,36.9
                                    c-20.2,24.3-38.6,50.4-54.6,77.6l-10.2,17.2L1293.8,2000z"></path>
                                <path class="st3" d="M1380.7,1908.4c-22,26.5-42,54.9-59.5,84.5l29.4,17.3c16.5-28,35.5-55,56.4-80.2l17.5-21.3l-26.4-21.6
                                    L1380.7,1908.4z"></path>
                                
                                    <rect x="2424.4" y="520.9" transform="matrix(0.6336 -0.7737 0.7737 0.6336 487.5405 2145.304)" class="st0" width="168.3" height="74.1"></rect>
                                
                                    <rect x="2444.4" y="540.9" transform="matrix(0.6336 -0.7737 0.7737 0.6336 487.5339 2145.2952)" class="st3" width="128.3" height="34.1"></rect>
                                <path class="st0" d="M1222.9,2198.2l4.2-19.5c9.6-44.2,23.8-87.6,42.3-128.9l8.1-18.3l67.7,30.2l-8.1,18.3
                                    c-16.4,36.7-29,75.2-37.5,114.5l-4.2,19.5L1222.9,2198.2z"></path>
                                <path class="st3" d="M1246.7,2182.9l33.3,7.2c8.8-40.6,21.9-80.4,38.8-118.4l-31.1-13.9C1269.8,2098,1256,2140.1,1246.7,2182.9z"></path>
                                
                                    <rect x="1918.6" y="1138.5" transform="matrix(0.6336 -0.7737 0.7737 0.6336 -175.6252 1980.3329)" class="st0" width="168.3" height="74.1"></rect>
                                
                                    <rect x="1938.6" y="1158.5" transform="matrix(0.6336 -0.7737 0.7737 0.6336 -175.6274 1980.3268)" class="st3" width="128.3" height="34.1"></rect>
                                
                                    <rect x="2171.5" y="829.7" transform="matrix(0.6336 -0.7737 0.7737 0.6336 155.9519 2062.8062)" class="st0" width="168.3" height="74.1"></rect>
                                
                                    <rect x="2191.5" y="849.7" transform="matrix(0.6336 -0.7737 0.7737 0.6336 155.9503 2062.804)" class="st3" width="128.3" height="34.1"></rect>
                                
                                    <rect x="2297.9" y="675.3" transform="matrix(0.6336 -0.7737 0.7737 0.6336 321.7324 2104.0364)" class="st0" width="168.3" height="74.1"></rect>
                                
                                    <rect x="2317.9" y="695.3" transform="matrix(0.6336 -0.7737 0.7737 0.6336 321.7435 2104.052)" class="st3" width="128.3" height="34.1"></rect>
                                
                                    <rect x="1539.3" y="1601.7" transform="matrix(0.6336 -0.7737 0.7737 0.6336 -673.0005 1856.5938)" class="st0" width="168.3" height="74.1"></rect>
                                
                                    <rect x="1559.3" y="1621.7" transform="matrix(0.6336 -0.7737 0.7737 0.6336 -673.0007 1856.5911)" class="st3" width="128.3" height="34.1"></rect>
                                
                                    <rect x="2550.8" y="366.5" transform="matrix(0.6336 -0.7737 0.7737 0.6336 653.3279 2186.5413)" class="st0" width="168.3" height="74.1"></rect>
                                
                                    <rect x="2570.8" y="386.5" transform="matrix(0.6336 -0.7737 0.7737 0.6336 653.329 2186.5427)" class="st3" width="128.3" height="34.1"></rect>
                                
                                    <rect x="1665.8" y="1447.3" transform="matrix(0.6336 -0.7737 0.7737 0.6336 -507.2062 1897.8551)" class="st0" width="168.3" height="74.1"></rect>
                                
                                    <rect x="1685.8" y="1467.3" transform="matrix(0.6336 -0.7737 0.7737 0.6336 -507.2088 1897.8403)" class="st3" width="128.3" height="34.1"></rect>
                                <polygon class="st0" points="1794.4,1371.6 1829.8,1328.3 1797,1288.3 1854.3,1241.3 1877.7,1269.9 1901,1241.4 1958.3,1288.3 
                                    1925.6,1328.3 1961,1371.5 1903.7,1418.5 1877.7,1386.8 1851.7,1418.5 			"></polygon>
                                <polygon class="st3" points="1930.2,1291.1 1903.8,1269.5 1877.7,1301.4 1851.5,1269.5 1825.2,1291.1 1855.7,1328.3 
                                    1822.5,1368.8 1848.9,1390.4 1877.7,1355.2 1906.5,1390.3 1932.9,1368.7 1899.7,1328.3 			"></polygon>
                                
                                    <rect x="2045.1" y="984.1" transform="matrix(0.6336 -0.7737 0.7737 0.6336 -9.8343 2021.5736)" class="st0" width="168.3" height="74.1"></rect>
                                
                                    <rect x="2065.1" y="1004.1" transform="matrix(0.6336 -0.7737 0.7737 0.6336 -9.8369 2021.568)" class="st3" width="128.3" height="34.1"></rect>
                                <polygon class="st0" points="931.2,342.4 937.4,268.6 963.3,270.8 952.3,257.3 1009.6,210.4 1021.7,225.1 1024.2,195.3 
                                    1098.1,201.5 1085.1,355.4 			"></polygon>
                                <polygon class="st3" points="1076.4,219.8 1042.5,216.9 1037.5,275.9 1006.8,238.5 980.4,260.1 1008.8,294.7 955.7,290.2 
                                    952.8,324.2 1066.8,333.8 			"></polygon>
                                <polygon class="st0" points="2742.2,331 2736.8,337.7 2679.4,290.8 2684.9,284.1 2657.7,286.5 2651.2,212.6 2805.1,199.1 
                                    2818.5,353 2744.7,359.4 			"></polygon>
                                <polygon class="st3" points="2796.9,334.8 2786.9,220.8 2672.9,230.8 2675.9,264.8 2730.5,260 2707.6,288 2734,309.6 
                                    2757.9,280.4 2762.9,337.8 			"></polygon>
                                <polygon class="st0" points="1139.8,2311.9 1249,2202.7 1358.1,2311.9 1305.7,2364.3 1282.2,2340.8 1215.7,2340.8 1192.2,2364.3 
                                                "></polygon>
                                <path class="st3" d="M1168.1,2311.9l24.1,24.1l40.2-40.2c-0.3,8.3-0.5,16.7-0.5,25h34.1c0-8,0.2-16,0.5-24l39.3,39.3l24.1-24.1
                                    L1249,2231L1168.1,2311.9z"></path>
                                <polygon class="st0" points="2397.5,2267.1 2449.9,2214.7 2474.9,2239.7 2538.3,2233.3 2538.9,2239.3 2563.5,2214.7 
                                    2615.9,2267.1 2506.7,2376.3 			"></polygon>
                                <path class="st3" d="M2522.7,2283.8c-0.5-9.6-1.3-19.1-2.2-28.6l-33.9,3.4c0.8,7.6,1.4,15.2,1.9,22.9l-38.5-38.5l-24.1,24.1
                                    l80.9,80.9l80.9-80.9l-24.1-24.1L2522.7,2283.8z"></path>
                            </g>
                        </a>
                        <path class="indicatorLine" d="M2641.9,634.8V423.9c6.2-2.7,10.5-8.9,10.5-16.1c0-9.7-7.9-17.6-17.6-17.6
                            c-9.7,0-17.6,7.9-17.6,17.6c0,7.2,4.3,13.4,10.5,16.1v225.1h1113.8v-14.2H2641.9z"></path>
                    </g>
                    <g id="Weather">
                        <a xlink:href="https://5merchants.co.nz/about/air-weather-tightness/" style="opacity: 1;">
                            <g>
                                <g>
                                    <polygon class="st0" points="439.6,2183.9 540.3,2183.9 540.3,1283.9 1290.9,669.1 1226.4,591.3 458.2,1220.7 439.6,1208.7 
                                        439.6,1235.9 425.7,1247.3 439.6,1256.3 				"></polygon>
                                    <polygon class="st0" points="3214.6,1284.1 3214.6,2183.9 3315.3,2183.9 3315.3,1256.3 3329.3,1247.6 3315.3,1236.1 
                                        3315.3,1209.7 3296.9,1221 2528.2,591.3 2463.7,669.1 				"></polygon>
                                    <polygon class="st0" points="464.9,3706.1 3346.7,3706.1 3318.1,3677.5 3318.1,2623.4 3217.3,2623.4 3217.3,3605.4 
                                        537.3,3605.4 537.3,2623.4 436.6,2623.4 436.6,3678.6 409.4,3706.1 436.6,3706.1 436.6,3734.5 				"></polygon>
                                    <polygon class="st0" points="1877.3,188.7 2407,622.6 2470.3,543.8 1877.3,58 1284.3,543.8 1347.6,622.6 				"></polygon>
                                </g>
                                <g>
                                    <path d="M1502.3,3686.1h-9.1l-21.6-60.7h9.1L1502.3,3686.1z M1399.6,3625.4h-9.1l21.6,60.7h9.1L1399.6,3625.4z M1196.6,3625.4
                                        h-9.1l21.6,60.7h9.1L1196.6,3625.4z M1440.1,3625.4h-9.1l21.6,60.7h9.1L1440.1,3625.4z M1359,3625.4h-9.1l21.6,60.7h9.1
                                        L1359,3625.4z M1237.2,3625.4h-9.1l21.6,60.7h9.1L1237.2,3625.4z M1156.1,3625.4h-9.1l21.6,60.7h9.1L1156.1,3625.4z
                                        M1846.5,3625.4h-9.1l21.6,60.7h9.1L1846.5,3625.4z M1277.9,3625.4h-9.1l21.6,60.7h9.1L1277.9,3625.4z M1521.3,3625.4h-9.1
                                        l21.6,60.7h9.1L1521.3,3625.4z M1724.8,3625.4h-9.1l21.6,60.7h9.1L1724.8,3625.4z M1806,3625.4h-9.1l21.6,60.7h9.1L1806,3625.4z
                                        M1684.3,3625.4h-9.1l21.6,60.7h9.1L1684.3,3625.4z M1765.4,3625.4h-9.1l21.6,60.7h9.1L1765.4,3625.4z M1561.8,3625.4h-9.1
                                        l21.6,60.7h9.1L1561.8,3625.4z M1602.4,3625.4h-9.1l21.6,60.7h9.1L1602.4,3625.4z M1643,3625.4h-9.1l21.6,60.7h9.1L1643,3625.4z
                                        M1318.4,3625.4h-9.1l21.6,60.7h9.1L1318.4,3625.4z M668.6,3625.4h-9.1l21.6,60.7h9.1L668.6,3625.4z M749.7,3625.4h-9.1
                                        l21.6,60.7h9.1L749.7,3625.4z M587.5,3625.4h-9.1l21.6,60.7h9.1L587.5,3625.4z M709.2,3625.4h-9.1l21.6,60.7h9.1L709.2,3625.4z
                                        M628,3625.4h-9.1l21.6,60.7h9.1L628,3625.4z M479.3,3663.8l-6.7,6.8l5.5,15.5h9.1L479.3,3663.8z M546.9,3625.4h-9.1l21.6,60.7
                                        h9.1L546.9,3625.4z M509.2,3633.6l-6.7,6.8l16.3,45.7h9.1L509.2,3633.6z M830.9,3625.4h-9.1l21.6,60.7h9.1L830.9,3625.4z
                                        M1034.4,3625.4h-9.1l21.6,60.7h9.1L1034.4,3625.4z M993.8,3625.4h-9.1l21.6,60.7h9.1L993.8,3625.4z M1074.9,3625.4h-9.1
                                        l21.6,60.7h9.1L1074.9,3625.4z M790.3,3625.4h-9.1l21.6,60.7h9.1L790.3,3625.4z M1115.5,3625.4h-9.1l21.6,60.7h9.1
                                        L1115.5,3625.4z M871.5,3625.4h-9.1l21.6,60.7h9.1L871.5,3625.4z M912,3625.4h-9.1l21.6,60.7h9.1L912,3625.4z M953.2,3625.4
                                        h-9.1l21.6,60.7h9.1L953.2,3625.4z M2942.7,3625.4h-9.1l21.6,60.7h9.1L2942.7,3625.4z M2861.6,3625.4h-9.1l21.6,60.7h9.1
                                        L2861.6,3625.4z M2902.1,3625.4h-9.1l21.6,60.7h9.1L2902.1,3625.4z M2780.4,3625.4h-9.1l21.6,60.7h9.1L2780.4,3625.4z
                                        M2821,3625.4h-9.1l21.6,60.7h9.1L2821,3625.4z M2739.9,3625.4h-9.1l21.6,60.7h9.1L2739.9,3625.4z M2618.1,3625.4h-9.1
                                        l21.6,60.7h9.1L2618.1,3625.4z M2699.2,3625.4h-9.1l21.6,60.7h9.1L2699.2,3625.4z M2658.7,3625.4h-9.1l21.6,60.7h9.1
                                        L2658.7,3625.4z M3145.3,3625.4h-9.1l21.6,60.7h9.1L3145.3,3625.4z M2983.3,3625.4h-9.1l21.6,60.7h9.1L2983.3,3625.4z
                                        M3185.8,3625.4h-9.1l21.6,60.7h9.1L3185.8,3625.4z M3283.2,3671.1l-14.1-14l10.3,29h9.1L3283.2,3671.1z M3226.4,3625.4h-9.1
                                        l21.6,60.7h9.1L3226.4,3625.4z M3023.9,3625.4h-9.1l21.6,60.7h9.1L3023.9,3625.4z M3105,3625.4h-9.1l21.6,60.7h9.1L3105,3625.4z
                                        M3064.4,3625.4h-9.1l21.6,60.7h9.1L3064.4,3625.4z M2008.9,3625.4h-9.1l21.6,60.7h9.1L2008.9,3625.4z M2130.6,3625.4h-9.1
                                        l21.6,60.7h9.1L2130.6,3625.4z M2090,3625.4h-9.1l21.6,60.7h9.1L2090,3625.4z M2211.8,3625.4h-9.1l21.6,60.7h9.1L2211.8,3625.4z
                                        M2049.5,3625.4h-9.1l21.6,60.7h9.1L2049.5,3625.4z M2171.2,3625.4h-9.1l21.6,60.7h9.1L2171.2,3625.4z M1927.7,3625.4h-9.1
                                        l21.6,60.7h9.1L1927.7,3625.4z M1887.1,3625.4h-9.1l21.6,60.7h9.1L1887.1,3625.4z M2577.5,3625.4h-9.1l21.6,60.7h9.1
                                        L2577.5,3625.4z M1968.3,3625.4h-9.1l21.6,60.7h9.1L1968.3,3625.4z M2415.2,3625.4h-9.1l21.6,60.7h9.1L2415.2,3625.4z
                                        M2455.8,3625.4h-9.1l21.6,60.7h9.1L2455.8,3625.4z M2496.4,3625.4h-9.1l21.6,60.7h9.1L2496.4,3625.4z M2536.9,3625.4h-9.1
                                        l21.6,60.7h9.1L2536.9,3625.4z M2252.3,3625.4h-9.1l21.6,60.7h9.1L2252.3,3625.4z M2292.9,3625.4h-9.1l21.6,60.7h9.1
                                        L2292.9,3625.4z M2333.5,3625.4h-9.1l21.6,60.7h9.1L2333.5,3625.4z M2374,3625.4h-9.1l21.6,60.7h9.1L2374,3625.4z
                                        M3298.1,3165.4v-9.1l-60.7,21.6v9.1L3298.1,3165.4z M3298.1,3124.8v-9.1l-60.7,21.6v9.1L3298.1,3124.8z M3298.1,3084.2v-9.1
                                        l-60.7,21.6v9.1L3298.1,3084.2z M3237.3,3065.3l60.7-21.6v-9.1l-60.7,21.6V3065.3z M3298.1,3247.1v-9.1l-60.7,21.6v9.1
                                        L3298.1,3247.1z M3298.1,3206v-9.1l-60.7,21.6v9.1L3298.1,3206z M3298.1,2759.6v-9.1l-60.7,21.6v9.1L3298.1,2759.6z
                                        M3237.3,3431l60.7-21.6v-9.1l-60.7,21.6V3431z M3298.1,2719v-9.1l-60.7,21.6v9.1L3298.1,2719z M3237.3,2700.1l60.7-21.6v-9.1
                                        l-60.7,21.6V2700.1z M3298.1,2881.3v-9.1l-60.7,21.6v9.1L3298.1,2881.3z M3298.1,2800.2v-9.1l-60.7,21.6v9.1L3298.1,2800.2z
                                        M3298.1,2840.7v-9.1l-60.7,21.6v9.1L3298.1,2840.7z M3298.1,3571.7v-9.1l-60.7,21.6v9.1L3298.1,3571.7z M3237.3,3340.8v9.1
                                        l60.7-21.6v-9.1L3237.3,3340.8z M3237.3,3015.6v9.1l60.7-21.6v-9.1L3237.3,3015.6z M3237.3,3300.2v9.1l60.7-21.6v-9.1
                                        L3237.3,3300.2z M3237.3,2975v9.1l60.7-21.6v-9.1L3237.3,2975z M3237.3,2650.4v9.1l45.4-16.1h-25.5L3237.3,2650.4z
                                        M3237.3,2934.5v9.1l60.7-21.6v-9.1L3237.3,2934.5z M3298.1,3490.6v-9.1l-60.7,21.6v9.1L3298.1,3490.6z M3298.1,3531.1v-9.1
                                        l-60.7,21.6v9.1L3298.1,3531.1z M3243.8,3631.6l54.3-19.3v-9.1l-60.7,21.6v0.3L3243.8,3631.6z M3298.1,3450v-9.1l-60.7,21.6v9.1
                                        L3298.1,3450z M3296.8,3684.8l1.2,1.2v-1.7L3296.8,3684.8z M3237.3,3381.4v9.1l60.7-21.6v-9.1L3237.3,3381.4z M3267,3654.9
                                        l6.7,6.7l24.4-8.7v-9.1L3267,3654.9z M459.6,1947.4l60.7,21.6v-9.1l-60.7-21.6V1947.4z M459.6,1825.7l60.7,21.6v-9.1l-60.7-21.6
                                        V1825.7z M459.6,1866.3l60.7,21.6v-9.1l-60.7-21.6V1866.3z M459.6,1743.9l60.7,21.6v-9.1l-60.7-21.6V1743.9z M459.6,1785.1
                                        l60.7,21.6v-9.1l-60.7-21.6V1785.1z M459.6,2028.6l60.7,21.6v-9.1l-60.7-21.6V2028.6z M459.6,2109.7l60.7,21.6v-9.1l-60.7-21.6
                                        V2109.7z M459.6,1988l60.7,21.6v-9.1l-60.7-21.6V1988z M459.6,2150.3l38.4,13.7h22.3v-1.1l-60.7-21.6V2150.3z M459.6,2069.1
                                        l60.7,21.6v-9.1l-60.7-21.6V2069.1z M459.6,1703.4l60.7,21.6v-9.1l-60.7-21.6V1703.4z M459.6,1906.8l60.7,21.6v-9.1l-60.7-21.6
                                        V1906.8z M459.6,1378.7l60.7,21.6v-9.1l-60.7-21.6V1378.7z M459.6,1338.2l60.7,21.6v-9.1l-60.7-21.6V1338.2z M459.6,1257
                                        l46,16.4l-35.8-21.8l-10.2-3.6V1257z M459.6,1419.3l60.7,21.6v-9.1l-60.7-21.6V1419.3z M459.6,1297.6l60.7,21.6v-9.1l-60.7-21.6
                                        V1297.6z M459.6,1662.8l60.7,21.6v-9.1l-60.7-21.6V1662.8z M459.6,1622.2l60.7,21.6v-9.1l-60.7-21.6V1622.2z M459.6,1581.7
                                        l60.7,21.6v-9.1l-60.7-21.6V1581.7z M459.6,1500.5l60.7,21.6v-9.1l-60.7-21.6V1500.5z M459.6,1459.9l60.7,21.6v-9.1l-60.7-21.6
                                        V1459.9z M459.6,1541.1l60.7,21.6v-9.1l-60.7-21.6V1541.1z M3295.3,1662.8v-9.1l-60.7,21.6v9.1L3295.3,1662.8z M3295.3,1703.4
                                        v-9.1l-60.7,21.6v9.1L3295.3,1703.4z M3295.3,1743.9v-9.1l-60.7,21.6v9.1L3295.3,1743.9z M3295.3,1622.2v-9.1l-60.7,21.6v9.1
                                        L3295.3,1622.2z M3295.3,1785.1v-9.1l-60.7,21.6v9.1L3295.3,1785.1z M3295.3,1257v-9.1l-10.2,3.6l-35.8,21.8L3295.3,1257z
                                        M3295.3,1297.6v-9.1l-60.7,21.6v9.1L3295.3,1297.6z M3295.3,1338.2v-9.1l-60.7,21.6v9.1L3295.3,1338.2z M3295.3,1419.3v-9.1
                                        l-60.7,21.6v9.1L3295.3,1419.3z M3295.3,1378.7v-9.1l-60.7,21.6v9.1L3295.3,1378.7z M3234.6,1603.3l60.7-21.6v-9.1l-60.7,21.6
                                        V1603.3z M3234.6,1969l60.7-21.6v-9.1l-60.7,21.6V1969z M3234.6,1553.6v9.1l60.7-21.6v-9.1L3234.6,1553.6z M3234.6,1878.8v9.1
                                        l60.7-21.6v-9.1L3234.6,1878.8z M3234.6,1838.2v9.1l60.7-21.6v-9.1L3234.6,1838.2z M3234.6,1513v9.1l60.7-21.6v-9.1L3234.6,1513
                                        z M3234.6,1472.5v9.1l60.7-21.6v-9.1L3234.6,1472.5z M3295.3,2069.1v-9.1l-60.7,21.6v9.1L3295.3,2069.1z M3234.6,1919.4v9.1
                                        l60.7-21.6v-9.1L3234.6,1919.4z M3295.3,2028.6v-9.1l-60.7,21.6v9.1L3295.3,2028.6z M3295.3,1988v-9.1l-60.7,21.6v9.1
                                        L3295.3,1988z M3295.3,2109.7v-9.1l-60.7,21.6v9.1L3295.3,2109.7z M3256.9,2163.9l38.4-13.7v-9.1l-60.7,21.6v1.1H3256.9z
                                        M456.6,3368.9l60.7,21.6v-9.1l-60.7-21.6V3368.9z M456.6,3450l60.7,21.6v-9.1l-60.7-21.6V3450z M456.6,3409.4l60.7,21.6v-9.1
                                        l-60.7-21.6V3409.4z M456.6,3206l60.7,21.6v-9.1l-60.7-21.6V3206z M456.6,3165.4l60.7,21.6v-9.1l-60.7-21.6V3165.4z
                                        M456.6,3247.1l60.7,21.6v-9.1l-60.7-21.6V3247.1z M456.6,3287.7l60.7,21.6v-9.1l-60.7-21.6V3287.7z M456.6,3490.6l60.7,21.6
                                        v-9.1l-60.7-21.6V3490.6z M456.6,3652.9l24.4,8.7l6.7-6.7l-31.1-11V3652.9z M456.6,3686.1l1.2-1.2l-1.2-0.4V3686.1z
                                        M456.6,3612.3l54.3,19.3l6.5-6.5v-0.3l-60.7-21.6V3612.3z M456.6,3531.1l60.7,21.6v-9.1l-60.7-21.6V3531.1z M456.6,3571.7
                                        l60.7,21.6v-9.1l-60.7-21.6V3571.7z M456.6,3328.3l60.7,21.6v-9.1l-60.7-21.6V3328.3z M456.6,2759.6l60.7,21.6v-9.1l-60.7-21.6
                                        V2759.6z M456.6,2719l60.7,21.6v-9.1l-60.7-21.6V2719z M456.6,2800.2l60.7,21.6v-9.1l-60.7-21.6V2800.2z M472,2643.4l45.4,16.1
                                        v-9.1l-19.8-7H472z M456.6,2678.5l60.7,21.6v-9.1l-60.7-21.6V2678.5z M456.6,2840.7l60.7,21.6v-9.1l-60.7-21.6V2840.7z
                                        M456.6,3084.2l60.7,21.6v-9.1l-60.7-21.6V3084.2z M456.6,2881.3l60.7,21.6v-9.1l-60.7-21.6V2881.3z M456.6,3124.8l60.7,21.6
                                        v-9.1l-60.7-21.6V3124.8z M456.6,3003.1l60.7,21.6v-9.1l-60.7-21.6V3003.1z M456.6,3043.7l60.7,21.6v-9.1l-60.7-21.6V3043.7z
                                        M456.6,2962.5l60.7,21.6v-9.1l-60.7-21.6V2962.5z M456.6,2922l60.7,21.6v-9.1l-60.7-21.6V2922z M651,1088.6l-7,5.8l55.4,33.5
                                        l7-5.8L651,1088.6z M682.3,1062.9l-7,5.8l55.4,33.5l7-5.8L682.3,1062.9z M807.9,960l-7,5.8l55.4,33.5l7-5.8L807.9,960z
                                        M745.1,1011.5l-7,5.8l55.4,33.5l7-5.8L745.1,1011.5z M776.5,985.7l-7,5.8l55.4,33.5l7-5.8L776.5,985.7z M713.7,1037.2l-7,5.8
                                        l55.4,33.5l7-5.8L713.7,1037.2z M525.4,1191.4l-7,5.8l55.4,33.4l7-5.8L525.4,1191.4z M494,1217.2l-7,5.8l55.4,33.4l7-5.8
                                        L494,1217.2z M462.6,1242.9l-3,2.5l54.7,34l3.7-3L462.6,1242.9z M556.8,1165.7l-7,5.8l55.4,33.4l7-5.8L556.8,1165.7z
                                        M619.5,1114.3l-7,5.8l55.4,33.5l7-5.8L619.5,1114.3z M588.2,1140l-7,5.8l55.4,33.4l7-5.8L588.2,1140z M839.2,934.3l-7,5.8
                                        l55.4,33.5l7-5.8L839.2,934.3z M1122.1,702.6l-7,5.8l55.5,33.5l7-5.8L1122.1,702.6z M1153.5,676.9l-7,5.8l55.5,33.5l7-5.8
                                        L1153.5,676.9z M1059.4,754l-7,5.8l55.4,33.5l7-5.8L1059.4,754z M1090.8,728.3l-7,5.8l55.5,33.5l7-5.8L1090.8,728.3z
                                        M1216.3,625.4l-7,5.8l48.5,29.3l-16.6-20L1216.3,625.4z M1184.9,651.2l-7,5.8l55.5,33.5l7-5.8L1184.9,651.2z M1028,779.7
                                        l-7,5.8l55.4,33.5l7-5.8L1028,779.7z M933.9,856.8l-7,5.8l55.4,33.5l7-5.8L933.9,856.8z M902.5,882.5l-7,5.8l55.4,33.5l7-5.8
                                        L902.5,882.5z M965.2,831.1l-7,5.8l55.4,33.5l7-5.8L965.2,831.1z M870.6,908.6l-7,5.8l55.4,33.5l7-5.8L870.6,908.6z
                                        M996.6,805.4l-7,5.8l55.4,33.5l7-5.8L996.6,805.4z M1499.3,393.6l-7,5.8l55.5,33.5l7-5.8L1499.3,393.6z M1467.9,419.3l-7,5.8
                                        l55.5,33.5l7-5.8L1467.9,419.3z M1530.7,367.9l-7,5.8l55.5,33.5l7-5.8L1530.7,367.9z M1875.9,85.1l-7,5.8l8.5,5.1v-10
                                        L1875.9,85.1z M1562,342.2l-7,5.8l55.5,33.5l7-5.8L1562,342.2z M1341.8,522.6l-7,5.8l55.5,33.5l7-5.8L1341.8,522.6z
                                        M1404.6,471.2l-7,5.8l55.5,33.5l7-5.8L1404.6,471.2z M1316.5,551.9l15.6,19.4l26.8,16.2l7-5.8L1316.5,551.9z M1373.2,496.9
                                        l-7,5.8l55.5,33.5l7-5.8L1373.2,496.9z M1436,445.5l-7,5.8l55.5,33.5l7-5.8L1436,445.5z M1781.7,162.2l-7,5.8l55.5,33.5l7-5.8
                                        L1781.7,162.2z M1750.3,187.9l-7,5.8l55.5,33.5l7-5.8L1750.3,187.9z M1593.4,316.5l-7,5.8l55.5,33.5l7-5.8L1593.4,316.5z
                                        M1844.5,110.8l-7,5.8l39.8,24.1v-10L1844.5,110.8z M1813.1,136.5l-7,5.8l55.5,33.5l7-5.8L1813.1,136.5z M1656.2,265.1l-7,5.8
                                        l55.5,33.5l7-5.8L1656.2,265.1z M1718.9,213.6l-7,5.8l55.5,33.5l7-5.8L1718.9,213.6z M1624.8,290.8l-7,5.8l55.5,33.5l7-5.8
                                        L1624.8,290.8z M1687.6,239.4l-7,5.8l55.5,33.5l7-5.8L1687.6,239.4z M2859.2,888.3l-7-5.8l-55.4,33.5l7,5.8L2859.2,888.3z
                                        M2765.1,811.2l-7-5.8l-55.4,33.5l7,5.8L2765.1,811.2z M2733.7,785.4l-7-5.8l-55.4,33.5l7,5.8L2733.7,785.4z M2796.4,836.9
                                        l-7-5.8l-55.4,33.5l7,5.8L2796.4,836.9z M2891.1,914.4l-7-5.8l-55.4,33.5l7,5.8L2891.1,914.4z M2827.8,862.6l-7-5.8l-55.4,33.5
                                        l7,5.8L2827.8,862.6z M2576.8,656.9l-7-5.8l-55.5,33.5l7,5.8L2576.8,656.9z M2545.4,631.2l-7-5.8l-24.9,15l-16.6,20
                                        L2545.4,631.2z M2608.2,682.6l-7-5.8l-55.5,33.5l7,5.8L2608.2,682.6z M2670.9,734l-7-5.8l-55.5,33.5l7,5.8L2670.9,734z
                                        M2702.3,759.7l-7-5.8l-55.4,33.5l7,5.8L2702.3,759.7z M2639.5,708.3l-7-5.8l-55.5,33.5l7,5.8L2639.5,708.3z M3048,1042.9
                                        l-7-5.8l-55.4,33.5l7,5.8L3048,1042.9z M3142.1,1120.1l-7-5.8l-55.4,33.5l7,5.8L3142.1,1120.1z M3204.9,1171.5l-7-5.8
                                        l-55.4,33.4l7,5.8L3204.9,1171.5z M3173.5,1145.8l-7-5.8l-55.4,33.4l7,5.8L3173.5,1145.8z M3236.3,1197.2l-7-5.8l-55.4,33.4
                                        l7,5.8L3236.3,1197.2z M3267.7,1222.9l-7-5.8l-55.4,33.4l7,5.8L3267.7,1222.9z M3295.1,1245.4l-3-2.5l-55.4,33.4l3.7,3
                                        L3295.1,1245.4z M2953.8,965.8l-7-5.8l-55.4,33.5l7,5.8L2953.8,965.8z M2922.4,940.1l-7-5.8l-55.4,33.5l7,5.8L2922.4,940.1z
                                        M2985.2,991.5l-7-5.8l-55.4,33.5l7,5.8L2985.2,991.5z M3016.6,1017.2l-7-5.8l-55.4,33.5l7,5.8L3016.6,1017.2z M3110.7,1094.3
                                        l-7-5.8l-55.4,33.5l7,5.8L3110.7,1094.3z M3079.3,1068.6l-7-5.8l-55.4,33.5l7,5.8L3079.3,1068.6z M2042.7,219.4l-7-5.8
                                        l-55.5,33.5l7,5.8L2042.7,219.4z M2074.1,245.1l-7-5.8l-55.5,33.5l7,5.8L2074.1,245.1z M2105.5,270.8l-7-5.8l-55.5,33.5l7,5.8
                                        L2105.5,270.8z M2011.4,193.7l-7-5.8l-55.5,33.5l7,5.8L2011.4,193.7z M1885.8,90.8l-7-5.8l-1.4,0.9v10L1885.8,90.8z
                                        M1979.9,167.9l-7-5.8l-55.5,33.5l7,5.8L1979.9,167.9z M1917.2,116.5l-7-5.8l-32.8,19.8v10L1917.2,116.5z M2136.9,296.5l-7-5.8
                                        l-55.5,33.5l7,5.8L2136.9,296.5z M1948.6,142.2l-7-5.8L1886,170l7,5.8L1948.6,142.2z M2199.6,347.9l-7-5.8l-55.5,33.5l7,5.8
                                        L2199.6,347.9z M2357.1,476.9l-7-5.8l-55.5,33.5l7,5.8L2357.1,476.9z M2419.8,528.3l-7-5.8l-55.5,33.5l7,5.8L2419.8,528.3z
                                        M2388.5,502.6l-7-5.8l-55.5,33.5l7,5.8L2388.5,502.6z M2422.6,571.3l15.6-19.4l-49.5,29.9l7,5.8L2422.6,571.3z M2231,373.6
                                        l-7-5.8l-55.5,33.5l7,5.8L2231,373.6z M2168.3,322.2l-7-5.8l-55.5,33.5l7,5.8L2168.3,322.2z M2325.7,451.2l-7-5.8l-55.5,33.5
                                        l7,5.8L2325.7,451.2z M2262.4,399.3l-7-5.8l-55.5,33.5l7,5.8L2262.4,399.3z M2293.8,425.1l-7-5.8l-55.5,33.5l7,5.8L2293.8,425.1
                                        z"></path>
                                </g>
                            </g>
                        </a>
                        <path class="indicatorLine" d="M3754.9,1918.4h-471.3c-2.7-6.2-8.9-10.5-16.1-10.5c-9.7,0-17.6,7.9-17.6,17.6s7.9,17.6,17.6,17.6
                            c7.2,0,13.4-4.3,16.1-10.5h471.3V1918.4z"></path>
                    </g>
                    <g id="Insulation">
                        <a xlink:href="https://5merchants.co.nz/about/insulation/" style="opacity: 1;">
                            <g>
                                <g>
                                    <polygon class="st0" points="625.3,2105.4 687.7,2105.4 687.7,1342.1 1379.3,776.8 1326.3,712 1325.8,712.4 1286.3,664.2 
                                        541.7,1272.9 541.7,2105.9 625.3,2105.9 				"></polygon>
                                    <polygon class="st0" points="3151.8,2693.8 3151.8,2693.4 3068.1,2693.4 3068.1,2693.8 3067,2693.8 3067,3461.7 687.7,3461.7 
                                        687.7,2693.8 686.5,2693.8 686.5,2693.4 602.9,2693.4 602.9,2693.8 541.7,2693.8 541.7,3607.8 3214.2,3607.8 3214.2,2693.8 				
                                        "></polygon>
                                    <polygon class="st0" points="2375.4,776.8 3067,1342.1 3067,2105.4 3129.3,2105.4 3129.3,2105.9 3213,2105.9 3213,1272.9 
                                        2468.3,664.2 2428.8,712.4 2428.3,712 				"></polygon>
                                    <polygon class="st0" points="1383.4,665.4 1436.3,730.2 1877.9,369.2 2318.3,730.1 2371.3,665.4 2370.8,665 2410.3,616.8 
                                        1877.9,180.6 1344.4,616.7 1383.8,665 				"></polygon>
                                </g>
                                <path class="st4" d="M3131.8,3525.4H624v-811.6h43.6v768h2420.5v-768.4h43.7V3525.4z M667.7,2085.4H624v-773.4l699.5-571.8
                                    l27.6,33.8l-683.5,558.7V2085.4z"></path>
                                <path class="st4" d="M3194.2,3587.8H561.7v-874h43.6v830.3h2545.2v-830.3h43.7V3587.8z M605.3,2085.9h-43.6v-803.6l58-47.4
                                    l663.9-542.7l27.6,33.8l-705.8,577V2085.9z"></path>
                                <path class="st4" d="M3130.6,3525.4H622.9v-812h43.6v768.4H3087v-768h43.6V3525.4z M3130.6,2085.4H3087v-752.7l-683.5-558.7
                                    l27.6-33.8l699.5,571.8V2085.4z"></path>
                                <polygon class="st4" points="3193,2085.9 3149.3,2085.9 3149.3,1303 2443.5,726.1 2471.1,692.3 3193,1282.3 			"></polygon>
                                <polygon class="st4" points="1400.1,653.3 1372.5,619.5 1877.9,206.4 2382.2,619.6 2354.5,653.3 1877.9,262.8 			"></polygon>
                                <polygon class="st4" points="1439.1,702 1411.5,668.2 1877.9,287 2343.2,668.2 2315.5,702 1877.9,343.4 			"></polygon>
                            </g>
                        </a>
                        <path class="indicatorLine" d="M3754.9,3202.1h-565.3c-2.7-6.2-8.9-10.5-16.1-10.5c-9.7,0-17.6,7.9-17.6,17.6
                            c0,9.7,7.9,17.6,17.6,17.6c7.2,0,13.4-4.3,16.1-10.5h565.3V3202.1z"></path>
                    </g>
                    <g id="Thermal">
                        <a xlink:href="https://5merchants.co.nz/about/thermal-bridge/" style="opacity: 1;">
                            <g>
                                <g>
                                    <polygon class="st0" points="3149.5,2115.5 3149.5,2093.7 3077,2093.7 3077,1337.4 2382.1,769.3 2329.1,834.1 2993.4,1377 
                                        2993.4,2177.3 3065.9,2177.3 3065.9,2623.4 2994.3,2623.4 2993.4,2623.4 2993.4,3388 761.3,3388 761.3,2623.4 760.3,2623.4 
                                        688.8,2623.4 688.8,2177.3 761.3,2177.3 761.3,1377 1425.5,834.1 1372.6,769.3 677.6,1337.4 677.6,2093.7 605.1,2093.7 
                                        605.1,2115.5 604.5,2115.5 604.5,2707.1 605.1,2707.1 676.7,2707.1 676.7,3471.7 677.6,3471.7 3077,3471.7 3078,3471.7 
                                        3078,2707.1 3149.5,2707.1 3150.2,2707.1 3150.2,2115.5 				"></polygon>
                                    <polygon class="st0" points="1877.8,464.4 2272.3,786.8 2325.3,722.1 1877.8,356.3 1430.4,722.1 1483.3,786.8 				"></polygon>
                                </g>
                                <g>
                                    <polygon class="st5" points="3129.5,2135.5 3129.5,2113.7 3057,2113.7 3057,1346.9 2384.9,797.5 2357.3,831.2 3013.4,1367.6 
                                        3013.4,2157.3 3085.9,2157.3 3085.9,2643.4 3013.4,2643.4 3013.4,3408 741.3,3408 741.3,2643.4 668.8,2643.4 668.8,2157.3 
                                        741.3,2157.3 741.3,1367.6 1397.4,831.2 1369.8,797.5 697.6,1346.9 697.6,2113.7 625.1,2113.7 625.1,2135.5 624.5,2135.5 
                                        624.5,2687.1 696.7,2687.1 696.7,3451.7 3058,3451.7 3058,2687.1 3130.2,2687.1 3130.2,2135.5 				"></polygon>
                                    <polygon class="st5" points="1877.8,438.5 2269.5,758.7 2297.1,724.9 1877.8,382.2 1458.5,724.9 1486.1,758.7 				"></polygon>
                                </g>
                            </g>
                        </a>
                        <path class="indicatorLine" d="M721.6,3352.1c-7.2,0-13.4,4.3-16.1,10.5H0v14.2h705.5c2.7,6.2,8.9,10.5,16.1,10.5
                            c9.7,0,17.6-7.9,17.6-17.6C739.1,3360,731.3,3352.1,721.6,3352.1z"></path>
                    </g>
                    <g id="Air">
                        <a xlink:href="https://5merchants.co.nz/about/air-weather-tightness/" style="opacity: 1;">
                            <g>
                                <g>
                                    <polygon class="st0" points="1877.3,583.1 2214.2,858.6 2277.3,779.8 1897.8,469.2 1897.8,435.6 1877.3,452.4 1856.8,435.7 
                                        1856.8,469.2 1477.3,779.8 1540.5,858.6 				"></polygon>
                                    <polygon class="st0" points="855.8,1418.7 1483.7,905.1 1419.3,827.3 771.6,1357.4 755.1,1350.1 755.1,1371 737.2,1385.6 
                                        755.1,1393.5 755.1,2161.9 675.7,2161.9 675.2,2250.9 855.8,2250.9 				"></polygon>
                                    <polygon class="st0" points="2900.2,2553.9 2900.2,3297.2 855.8,3297.2 855.8,2553.9 775.1,2553.9 675.3,2554.5 675.3,2642.3 
                                        755.1,2642.5 755.1,3370.4 728,3397.9 755.1,3397.9 755.1,3426.3 783.4,3397.9 3030.7,3397.9 3001,3368.8 3001,2643.4 
                                        3080.3,2643.4 3080.3,2554.5 2981.1,2553.9 				"></polygon>
                                    <polygon class="st0" points="2900.2,1419.8 2900.2,2250.9 3080.4,2250.9 3080.1,2161.9 3001,2161.9 3001,1392.9 3017.4,1385.6 
                                        3001,1372.1 3001,1350.1 2983.5,1357.8 2335.3,827.3 2271,905.1 				"></polygon>
                                </g>
                                <g>
                                    <polygon class="st6" points="2981,1380.9 2970.5,1385.5 2981,1389.2 				"></polygon>
                                    <polygon class="st6" points="835.8,1602.1 775.1,1623.7 775.1,1632.7 835.8,1611.1 				"></polygon>
                                    <polygon class="st6" points="835.8,1642.6 775.1,1664.2 775.1,1673.3 835.8,1651.7 				"></polygon>
                                    <polygon class="st6" points="835.8,1683.2 775.1,1704.8 775.1,1713.9 835.8,1692.3 				"></polygon>
                                    <polygon class="st6" points="835.8,1723.8 775.1,1745.4 775.1,1754.5 835.8,1732.9 				"></polygon>
                                    <polygon class="st6" points="835.8,1561.5 775.1,1583.1 775.1,1592.2 835.8,1570.6 				"></polygon>
                                    <polygon class="st6" points="835.8,1407.9 824.9,1403 775.1,1420.7 775.1,1429.8 835.8,1408.2 				"></polygon>
                                    <polygon class="st6" points="775.1,1380.9 775.1,1389.2 785.6,1385.5 				"></polygon>
                                    <polygon class="st6" points="835.8,1520.9 775.1,1542.5 775.1,1551.6 835.8,1530 				"></polygon>
                                    <polygon class="st6" points="835.8,1764.3 775.1,1785.9 775.1,1795 835.8,1773.4 				"></polygon>
                                    <polygon class="st6" points="835.8,1480.4 775.1,1501.9 775.1,1511 835.8,1489.4 				"></polygon>
                                    <polygon class="st6" points="835.8,1439.7 775.1,1461.3 775.1,1470.4 835.8,1448.8 				"></polygon>
                                    <polygon class="st6" points="835.8,2220.4 835.8,2211.3 780.8,2230.9 806.4,2230.9 				"></polygon>
                                    <polygon class="st6" points="835.8,2130.1 775.1,2151.7 775.1,2160.8 835.8,2139.2 				"></polygon>
                                    <polygon class="st6" points="835.8,2089.5 775.1,2111.1 775.1,2120.2 835.8,2098.6 				"></polygon>
                                    <polygon class="st6" points="835.8,1804.9 775.1,1826.5 775.1,1835.6 835.8,1814 				"></polygon>
                                    <polygon class="st6" points="695.6,2181.9 695.6,2189.1 715.8,2181.9 				"></polygon>
                                    <polygon class="st6" points="835.8,2170.7 695.4,2220.6 695.3,2229.7 835.8,2179.8 				"></polygon>
                                    <polygon class="st6" points="835.8,2049 775.1,2070.6 775.1,2079.6 835.8,2058 				"></polygon>
                                    <polygon class="st6" points="835.8,1845.5 775.1,1867.1 775.1,1876.2 835.8,1854.6 				"></polygon>
                                    <polygon class="st6" points="835.8,1886.7 775.1,1908.3 775.1,1917.4 835.8,1895.8 				"></polygon>
                                    <polygon class="st6" points="835.8,1967.8 775.1,1989.4 775.1,1998.5 835.8,1976.9 				"></polygon>
                                    <polygon class="st6" points="835.8,1927.3 775.1,1948.8 775.1,1957.9 835.8,1936.3 				"></polygon>
                                    <polygon class="st6" points="835.8,2008.4 775.1,2030 775.1,2039.1 835.8,2017.5 				"></polygon>
                                    <polygon class="st6" points="2920.2,1611.1 2981,1632.7 2981,1623.7 2920.2,1602.1 				"></polygon>
                                    <polygon class="st6" points="2920.2,1651.7 2981,1673.3 2981,1664.2 2920.2,1642.6 				"></polygon>
                                    <polygon class="st6" points="2920.2,1692.3 2981,1713.9 2981,1704.8 2920.2,1683.2 				"></polygon>
                                    <polygon class="st6" points="2920.2,1814 2981,1835.6 2981,1826.5 2920.2,1804.9 				"></polygon>
                                    <polygon class="st6" points="2920.2,1773.4 2981,1795 2981,1785.9 2920.2,1764.3 				"></polygon>
                                    <polygon class="st6" points="2920.2,1732.9 2981,1754.5 2981,1745.4 2920.2,1723.8 				"></polygon>
                                    <polygon class="st6" points="2981,1420.7 2931.1,1403 2920.2,1407.9 2920.2,1408.2 2981,1429.8 				"></polygon>
                                    <polygon class="st6" points="2920.2,1570.6 2981,1592.2 2981,1583.1 2920.2,1561.5 				"></polygon>
                                    <polygon class="st6" points="2920.2,1448.8 2981,1470.4 2981,1461.3 2920.2,1439.7 				"></polygon>
                                    <polygon class="st6" points="2920.2,1489.4 2981,1511 2981,1501.9 2920.2,1480.4 				"></polygon>
                                    <polygon class="st6" points="2920.2,1530 2981,1551.6 2981,1542.5 2920.2,1520.9 				"></polygon>
                                    <polygon class="st6" points="2920.2,2179.8 3060.3,2229.6 3060.3,2220.5 2920.2,2170.7 				"></polygon>
                                    <polygon class="st6" points="2920.2,2139.2 2981,2160.8 2981,2151.7 2920.2,2130.1 				"></polygon>
                                    <polygon class="st6" points="3060.1,2181.9 3040.3,2181.9 3060.2,2188.9 				"></polygon>
                                    <polygon class="st6" points="2920.2,2098.6 2981,2120.2 2981,2111.1 2920.2,2089.5 				"></polygon>
                                    <polygon class="st6" points="2920.2,2220.4 2949.7,2230.9 2975.2,2230.9 2920.2,2211.3 				"></polygon>
                                    <polygon class="st6" points="2920.2,1936.3 2981,1957.9 2981,1948.8 2920.2,1927.3 				"></polygon>
                                    <polygon class="st6" points="2920.2,1895.8 2981,1917.4 2981,1908.3 2920.2,1886.7 				"></polygon>
                                    <polygon class="st6" points="2920.2,2058 2981,2079.6 2981,2070.6 2920.2,2049 				"></polygon>
                                    <polygon class="st6" points="2920.2,1854.6 2981,1876.2 2981,1867.1 2920.2,1845.5 				"></polygon>
                                    <polygon class="st6" points="2920.2,1976.9 2981,1998.5 2981,1989.4 2920.2,1967.8 				"></polygon>
                                    <polygon class="st6" points="2920.2,2017.5 2981,2039.1 2981,2030 2920.2,2008.4 				"></polygon>
                                    <polygon class="st6" points="2603.6,1072.7 2548.3,1106.1 2555.4,1111.9 2610.7,1078.5 				"></polygon>
                                    <polygon class="st6" points="2461.1,1034.8 2516.5,1001.4 2509.5,995.6 2454.1,1029.1 				"></polygon>
                                    <polygon class="st6" points="2492.6,1060.5 2547.9,1027.1 2540.9,1021.3 2485.5,1054.7 				"></polygon>
                                    <polygon class="st6" points="2579.3,1052.8 2572.2,1047 2516.9,1080.4 2524,1086.2 				"></polygon>
                                    <polygon class="st6" points="2586.8,1137.6 2642.1,1104.2 2635,1098.4 2579.7,1131.8 				"></polygon>
                                    <polygon class="st6" points="2359,872.5 2352,866.8 2305.4,894.9 2299.2,902.3 2303.6,906 				"></polygon>
                                    <polygon class="st6" points="2446.2,943.9 2390.8,977.3 2397.8,983 2453.2,949.6 				"></polygon>
                                    <polygon class="st6" points="2335,931.6 2390.4,898.2 2383.4,892.5 2328,925.9 				"></polygon>
                                    <polygon class="st6" points="2366.4,957.3 2421.8,923.9 2414.8,918.2 2359.4,951.6 				"></polygon>
                                    <polygon class="st6" points="2477.6,969.5 2422.2,1003 2429.3,1008.7 2484.6,975.3 				"></polygon>
                                    <polygon class="st6" points="2861.9,1284.1 2854.9,1278.4 2799.6,1311.7 2806.7,1317.4 				"></polygon>
                                    <polygon class="st6" points="2775.3,1291.7 2830.5,1258.4 2823.5,1252.7 2768.2,1286 				"></polygon>
                                    <polygon class="st6" points="2886.3,1304.1 2831.1,1337.4 2838.1,1343.1 2893.3,1309.8 				"></polygon>
                                    <polygon class="st6" points="2900.9,1394.5 2956.1,1361.2 2949,1355.4 2893.9,1388.8 				"></polygon>
                                    <polygon class="st6" points="2869.5,1368.8 2924.7,1335.5 2917.7,1329.7 2862.5,1363.1 				"></polygon>
                                    <polygon class="st6" points="2712.5,1240.4 2767.7,1207 2760.7,1201.3 2705.4,1234.6 				"></polygon>
                                    <polygon class="st6" points="2649.6,1188.9 2704.9,1155.6 2697.8,1149.8 2642.6,1183.2 				"></polygon>
                                    <polygon class="st6" points="2729.2,1175.5 2674,1208.9 2681,1214.6 2736.3,1181.3 				"></polygon>
                                    <polygon class="st6" points="2618.2,1163.3 2673.5,1129.9 2666.4,1124.1 2611.2,1157.5 				"></polygon>
                                    <polygon class="st6" points="2743.9,1266.1 2799.1,1232.7 2792.1,1227 2736.8,1260.3 				"></polygon>
                                    <polygon class="st6" points="2920.2,2870.9 2981,2892.5 2981,2883.4 2920.2,2861.8 				"></polygon>
                                    <polygon class="st6" points="2920.2,2911.5 2981,2933.1 2981,2924 2920.2,2902.4 				"></polygon>
                                    <polygon class="st6" points="2920.2,2830.3 2981,2851.9 2981,2842.9 2920.2,2821.3 				"></polygon>
                                    <polygon class="st6" points="2920.2,2952.1 2981,2973.6 2981,2964.6 2920.2,2943 				"></polygon>
                                    <polygon class="st6" points="3025.7,2574.1 2999.7,2574 3060.3,2595.5 3060.3,2586.5 				"></polygon>
                                    <polygon class="st6" points="2920.2,2586.3 3024.5,2623.4 3050,2623.4 2920.2,2577.2 				"></polygon>
                                    <polygon class="st6" points="2920.2,2992.6 2981,3014.2 2981,3005.1 2920.2,2983.5 				"></polygon>
                                    <polygon class="st6" points="2920.2,2626.9 2981,2648.5 2981,2639.4 2920.2,2617.8 				"></polygon>
                                    <polygon class="st6" points="2920.2,2748.6 2981,2770.2 2981,2761.1 2920.2,2739.5 				"></polygon>
                                    <polygon class="st6" points="2920.2,2789.8 2981,2811.4 2981,2802.3 2920.2,2780.7 				"></polygon>
                                    <polygon class="st6" points="2920.2,3195.5 2981,3217.1 2981,3208.1 2920.2,3186.5 				"></polygon>
                                    <polygon class="st6" points="2920.2,3033.2 2981,3054.8 2981,3045.7 2920.2,3024.1 				"></polygon>
                                    <polygon class="st6" points="2981,3377.9 2981,3370.3 2969.1,3366.1 				"></polygon>
                                    <polygon class="st6" points="2920.2,3073.8 2981,3095.4 2981,3086.3 2920.2,3064.7 				"></polygon>
                                    <polygon class="st6" points="2920.2,2667.4 2981,2689 2981,2679.9 2920.2,2658.3 				"></polygon>
                                    <polygon class="st6" points="2920.2,2708 2981,2729.6 2981,2720.5 2920.2,2698.9 				"></polygon>
                                    <polygon class="st6" points="2920.2,3317.3 2981,3338.8 2981,3329.8 2920.2,3308.2 				"></polygon>
                                    <polygon class="st6" points="2920.2,3114.4 2981,3136 2981,3126.9 2920.2,3105.3 				"></polygon>
                                    <polygon class="st6" points="2920.2,3236.1 2981,3257.7 2981,3248.6 2920.2,3227 				"></polygon>
                                    <polygon class="st6" points="2920.2,3155 2981,3176.6 2981,3167.5 2920.2,3145.9 				"></polygon>
                                    <polygon class="st6" points="2920.2,3276.7 2981,3298.3 2981,3289.2 2920.2,3267.6 				"></polygon>
                                    <polygon class="st6" points="835.8,3186.5 775.1,3208.1 775.1,3217.1 835.8,3195.5 				"></polygon>
                                    <polygon class="st6" points="835.8,3145.9 775.1,3167.5 775.1,3176.6 835.8,3155 				"></polygon>
                                    <polygon class="st6" points="835.8,3064.7 775.1,3086.3 775.1,3095.4 835.8,3073.8 				"></polygon>
                                    <polygon class="st6" points="835.8,3105.3 775.1,3126.9 775.1,3136 835.8,3114.4 				"></polygon>
                                    <polygon class="st6" points="835.8,3024.1 775.1,3045.7 775.1,3054.8 835.8,3033.2 				"></polygon>
                                    <polygon class="st6" points="835.8,2983.5 775.1,3005.1 775.1,3014.2 835.8,2992.6 				"></polygon>
                                    <polygon class="st6" points="775.1,3377.9 786.7,3366.2 775.1,3370.3 				"></polygon>
                                    <polygon class="st6" points="775.1,3338.8 835.2,3317.5 835.8,3316.9 835.8,3308.2 775.1,3329.8 				"></polygon>
                                    <polygon class="st6" points="835.8,3227 775.1,3248.6 775.1,3257.7 835.8,3236.1 				"></polygon>
                                    <polygon class="st6" points="835.8,3267.6 775.1,3289.2 775.1,3298.3 835.8,3276.7 				"></polygon>
                                    <polygon class="st6" points="835.8,2658.3 775.1,2679.9 775.1,2689 835.8,2667.4 				"></polygon>
                                    <polygon class="st6" points="835.8,2698.9 775.1,2720.5 775.1,2729.6 835.8,2708 				"></polygon>
                                    <polygon class="st6" points="835.8,2739.5 775.1,2761.1 775.1,2770.2 835.8,2748.6 				"></polygon>
                                    <polygon class="st6" points="835.8,2617.8 775.1,2639.4 775.1,2648.5 835.8,2626.9 				"></polygon>
                                    <polygon class="st6" points="835.8,2577.2 708.8,2622.4 734.1,2622.4 835.8,2586.3 				"></polygon>
                                    <polygon class="st6" points="730.4,2574.1 695.3,2586.6 695.3,2595.7 756.3,2574 				"></polygon>
                                    <polygon class="st6" points="835.8,2861.8 775.1,2883.4 775.1,2892.5 835.8,2870.9 				"></polygon>
                                    <polygon class="st6" points="835.8,2902.4 775.1,2924 775.1,2933.1 835.8,2911.5 				"></polygon>
                                    <polygon class="st6" points="835.8,2780.7 775.1,2802.3 775.1,2811.4 835.8,2789.8 				"></polygon>
                                    <polygon class="st6" points="835.8,2943 775.1,2964.6 775.1,2973.6 835.8,2952.1 				"></polygon>
                                    <polygon class="st6" points="835.8,2821.3 775.1,2842.9 775.1,2851.9 835.8,2830.3 				"></polygon>
                                    <polygon class="st6" points="1464.5,3317.2 1486.1,3377.9 1495.2,3377.9 1473.6,3317.2 				"></polygon>
                                    <polygon class="st6" points="1424,3317.2 1445.6,3377.9 1454.6,3377.9 1433,3317.2 				"></polygon>
                                    <polygon class="st6" points="1302.3,3317.2 1323.9,3377.9 1332.9,3377.9 1311.3,3317.2 				"></polygon>
                                    <polygon class="st6" points="1383.4,3317.2 1405,3377.9 1414.1,3377.9 1392.5,3317.2 				"></polygon>
                                    <polygon class="st6" points="1342.8,3317.2 1364.4,3377.9 1373.5,3377.9 1351.9,3317.2 				"></polygon>
                                    <polygon class="st6" points="1505.1,3317.2 1526.7,3377.9 1535.8,3377.9 1514.2,3317.2 				"></polygon>
                                    <polygon class="st6" points="1545.7,3317.2 1567.3,3377.9 1576.4,3377.9 1554.8,3317.2 				"></polygon>
                                    <polygon class="st6" points="1708.7,3317.2 1730.3,3377.9 1739.3,3377.9 1717.8,3317.2 				"></polygon>
                                    <polygon class="st6" points="1789.8,3317.2 1811.4,3377.9 1820.5,3377.9 1798.9,3317.2 				"></polygon>
                                    <polygon class="st6" points="1830.4,3317.2 1852,3377.9 1861.1,3377.9 1839.5,3317.2 				"></polygon>
                                    <polygon class="st6" points="1667.4,3317.2 1689,3377.9 1698.1,3377.9 1676.5,3317.2 				"></polygon>
                                    <polygon class="st6" points="1586.2,3317.2 1607.8,3377.9 1616.9,3377.9 1595.3,3317.2 				"></polygon>
                                    <polygon class="st6" points="1626.8,3317.2 1648.4,3377.9 1657.5,3377.9 1635.9,3317.2 				"></polygon>
                                    <polygon class="st6" points="1749.2,3317.2 1770.8,3377.9 1779.9,3377.9 1758.3,3317.2 				"></polygon>
                                    <polygon class="st6" points="895.9,3317.2 917.5,3377.9 926.5,3377.9 904.9,3317.2 				"></polygon>
                                    <polygon class="st6" points="1261.6,3317.2 1283.2,3377.9 1292.3,3377.9 1270.7,3317.2 				"></polygon>
                                    <polygon class="st6" points="936.4,3317.2 958,3377.9 967.1,3377.9 945.5,3317.2 				"></polygon>
                                    <polygon class="st6" points="855.3,3317.2 876.9,3377.9 886,3377.9 864.4,3317.2 				"></polygon>
                                    <polygon class="st6" points="790.5,3363 795.7,3377.9 804.8,3377.9 797.1,3356.2 				"></polygon>
                                    <polygon class="st6" points="820.3,3332.8 836.3,3377.9 845.4,3377.9 826.9,3326 				"></polygon>
                                    <polygon class="st6" points="977.6,3317.2 999.2,3377.9 1008.3,3377.9 986.7,3317.2 				"></polygon>
                                    <polygon class="st6" points="1180.5,3317.2 1202.1,3377.9 1211.2,3377.9 1189.6,3317.2 				"></polygon>
                                    <polygon class="st6" points="1221,3317.2 1242.6,3377.9 1251.7,3377.9 1230.1,3317.2 				"></polygon>
                                    <polygon class="st6" points="1018.2,3317.2 1039.8,3377.9 1048.9,3377.9 1027.3,3317.2 				"></polygon>
                                    <polygon class="st6" points="1139.9,3317.2 1161.5,3377.9 1170.6,3377.9 1149,3317.2 				"></polygon>
                                    <polygon class="st6" points="1058.8,3317.2 1080.4,3377.9 1089.4,3377.9 1067.8,3317.2 				"></polygon>
                                    <polygon class="st6" points="1099.3,3317.2 1120.9,3377.9 1130,3377.9 1108.4,3317.2 				"></polygon>
                                    <polygon class="st6" points="2195.6,3317.2 2217.2,3377.9 2226.3,3377.9 2204.7,3317.2 				"></polygon>
                                    <polygon class="st6" points="2601.9,3317.2 2623.5,3377.9 2632.6,3377.9 2611,3317.2 				"></polygon>
                                    <polygon class="st6" points="2642.5,3317.2 2664.1,3377.9 2673.2,3377.9 2651.6,3317.2 				"></polygon>
                                    <polygon class="st6" points="2561.3,3317.2 2582.9,3377.9 2592,3377.9 2570.4,3317.2 				"></polygon>
                                    <polygon class="st6" points="2520.8,3317.2 2542.4,3377.9 2551.5,3377.9 2529.9,3317.2 				"></polygon>
                                    <polygon class="st6" points="2439.6,3317.2 2461.2,3377.9 2470.3,3377.9 2448.7,3317.2 				"></polygon>
                                    <polygon class="st6" points="2683.1,3317.2 2704.7,3377.9 2713.7,3377.9 2692.1,3317.2 				"></polygon>
                                    <polygon class="st6" points="1871,3317.2 1892.5,3377.9 1901.6,3377.9 1880,3317.2 				"></polygon>
                                    <polygon class="st6" points="2886,3317.2 2907.6,3377.9 2916.7,3377.9 2895.1,3317.2 				"></polygon>
                                    <polygon class="st6" points="2845.4,3317.2 2867,3377.9 2876.1,3377.9 2854.5,3317.2 				"></polygon>
                                    <polygon class="st6" points="2723.6,3317.2 2745.2,3377.9 2754.3,3377.9 2732.7,3317.2 				"></polygon>
                                    <polygon class="st6" points="2930.2,3327.5 2948.1,3377.9 2957.2,3377.9 2944.2,3341.1 				"></polygon>
                                    <polygon class="st6" points="2764.3,3317.2 2785.9,3377.9 2794.9,3377.9 2773.3,3317.2 				"></polygon>
                                    <polygon class="st6" points="2804.8,3317.2 2826.4,3377.9 2835.5,3377.9 2813.9,3317.2 				"></polygon>
                                    <polygon class="st6" points="2480.2,3317.2 2501.8,3377.9 2510.9,3377.9 2489.3,3317.2 				"></polygon>
                                    <polygon class="st6" points="2033.3,3317.2 2054.9,3377.9 2064,3377.9 2042.4,3317.2 				"></polygon>
                                    <polygon class="st6" points="2114.4,3317.2 2136,3377.9 2145.1,3377.9 2123.5,3317.2 				"></polygon>
                                    <polygon class="st6" points="1992.7,3317.2 2014.3,3377.9 2023.3,3377.9 2001.7,3317.2 				"></polygon>
                                    <polygon class="st6" points="2073.9,3317.2 2095.5,3377.9 2104.6,3377.9 2083,3317.2 				"></polygon>
                                    <polygon class="st6" points="1952.1,3317.2 1973.7,3377.9 1982.8,3377.9 1961.2,3317.2 				"></polygon>
                                    <polygon class="st6" points="2398.4,3317.2 2420,3377.9 2429.1,3377.9 2407.5,3317.2 				"></polygon>
                                    <polygon class="st6" points="1911.5,3317.2 1933.1,3377.9 1942.2,3377.9 1920.6,3317.2 				"></polygon>
                                    <polygon class="st6" points="2155,3317.2 2176.6,3377.9 2185.7,3377.9 2164.1,3317.2 				"></polygon>
                                    <polygon class="st6" points="2317.3,3317.2 2338.9,3377.9 2348,3377.9 2326.4,3317.2 				"></polygon>
                                    <polygon class="st6" points="2357.9,3317.2 2379.5,3377.9 2388.5,3377.9 2366.9,3317.2 				"></polygon>
                                    <polygon class="st6" points="2236.2,3317.2 2257.8,3377.9 2266.8,3377.9 2245.2,3317.2 				"></polygon>
                                    <polygon class="st6" points="2276.7,3317.2 2298.3,3377.9 2307.4,3377.9 2285.8,3317.2 				"></polygon>
                                    <polygon class="st6" points="1653.9,661.1 1646.9,666.9 1702.3,700.4 1709.4,694.6 				"></polygon>
                                    <polygon class="st6" points="1678.2,641.2 1733.7,674.7 1740.8,668.9 1685.3,635.4 				"></polygon>
                                    <polygon class="st6" points="1678,720.3 1622.5,686.8 1615.5,692.6 1670.9,726.1 				"></polygon>
                                    <polygon class="st6" points="1524,806.1 1539.5,825.4 1545.2,828.9 1552.3,823.1 				"></polygon>
                                    <polygon class="st6" points="1615.1,771.8 1559.6,738.3 1552.6,744 1608.1,777.5 				"></polygon>
                                    <polygon class="st6" points="1521.2,769.7 1576.7,803.2 1583.7,797.4 1528.2,764 				"></polygon>
                                    <polygon class="st6" points="1646.6,746 1591.1,712.5 1584.1,718.3 1639.5,751.8 				"></polygon>
                                    <polygon class="st6" points="1803.8,538.4 1859.4,571.9 1866.4,566.2 1810.9,532.7 				"></polygon>
                                    <polygon class="st6" points="1772.2,643.3 1716.7,609.7 1709.6,615.5 1765.2,649 				"></polygon>
                                    <polygon class="st6" points="1803.6,617.6 1748.1,584 1741,589.8 1796.6,623.3 				"></polygon>
                                    <polygon class="st6" points="1779.5,558.4 1772.4,564.1 1828,597.6 1835,591.9 				"></polygon>
                                    <polygon class="st6" points="1926.7,597.6 1982.2,564.1 1975.2,558.4 1919.7,591.9 				"></polygon>
                                    <polygon class="st6" points="2013.6,589.8 2006.6,584 1951.1,617.6 1958.1,623.3 				"></polygon>
                                    <polygon class="st6" points="1895.3,571.9 1950.8,538.4 1943.8,532.7 1888.3,566.2 				"></polygon>
                                    <polygon class="st6" points="2038,609.7 1982.5,643.3 1989.5,649 2045,615.5 				"></polygon>
                                    <polygon class="st6" points="1876.8,493 1877.3,492.7 1877.8,493 1877.8,492.4 1887.5,486.6 1880.5,480.8 1877.3,482.7 
                                        1874.2,480.8 1867.2,486.6 1876.8,492.4 				"></polygon>
                                    <polygon class="st6" points="1876.8,537.6 1877.3,537.3 1877.8,537.6 1877.8,537.1 1918.9,512.3 1911.9,506.5 1877.3,527.4 
                                        1842.8,506.5 1835.8,512.3 1876.8,537.1 				"></polygon>
                                    <polygon class="st6" points="2083.7,726.1 2139.2,692.6 2132.2,686.8 2076.7,720.3 				"></polygon>
                                    <polygon class="st6" points="2170.6,718.3 2163.6,712.5 2108.1,746 2115.1,751.8 				"></polygon>
                                    <polygon class="st6" points="2195,738.3 2139.6,771.8 2146.6,777.5 2202,744 				"></polygon>
                                    <polygon class="st6" points="2171,797.4 2178,803.2 2233.4,769.7 2226.4,764 				"></polygon>
                                    <polygon class="st6" points="2020.9,674.7 2076.4,641.2 2069.4,635.4 2013.9,668.9 				"></polygon>
                                    <polygon class="st6" points="2209.4,828.9 2215.1,825.4 2230.6,806.1 2202.4,823.1 				"></polygon>
                                    <polygon class="st6" points="2052.3,700.4 2107.8,666.9 2100.8,661.1 2045.3,694.6 				"></polygon>
                                    <polygon class="st6" points="955.6,1232.7 1010.8,1266.1 1017.8,1260.3 962.6,1227 				"></polygon>
                                    <polygon class="st6" points="1080.7,1208.9 1025.4,1175.5 1018.4,1181.3 1073.7,1214.6 				"></polygon>
                                    <polygon class="st6" points="987,1207 1042.2,1240.4 1049.2,1234.6 994,1201.3 				"></polygon>
                                    <polygon class="st6" points="986.4,1286 931.2,1252.7 924.2,1258.4 979.4,1291.7 				"></polygon>
                                    <polygon class="st6" points="955,1311.7 899.8,1278.4 892.8,1284.1 948,1317.4 				"></polygon>
                                    <polygon class="st6" points="1402.7,866.8 1395.6,872.5 1451,906 1455.4,902.3 1449.3,894.9 				"></polygon>
                                    <polygon class="st6" points="1112.1,1183.2 1056.8,1149.8 1049.8,1155.6 1105.1,1188.9 				"></polygon>
                                    <polygon class="st6" points="830,1335.5 885.2,1368.8 892.2,1363.1 837,1329.7 				"></polygon>
                                    <polygon class="st6" points="923.6,1337.4 868.4,1304.1 861.4,1309.8 916.6,1343.1 				"></polygon>
                                    <polygon class="st6" points="805.6,1355.4 798.6,1361.2 853.8,1394.5 860.8,1388.8 				"></polygon>
                                    <polygon class="st6" points="1332.4,1003 1277.1,969.5 1270.1,975.3 1325.4,1008.7 				"></polygon>
                                    <polygon class="st6" points="1363.8,977.3 1308.5,943.9 1301.4,949.6 1356.8,983 				"></polygon>
                                    <polygon class="st6" points="1088.2,1124.1 1081.2,1129.9 1136.5,1163.3 1143.5,1157.5 				"></polygon>
                                    <polygon class="st6" points="1395.2,951.6 1339.9,918.2 1332.8,923.9 1388.2,957.3 				"></polygon>
                                    <polygon class="st6" points="1371.3,892.5 1364.2,898.2 1419.6,931.6 1426.7,925.9 				"></polygon>
                                    <polygon class="st6" points="1238.2,1001.4 1293.5,1034.8 1300.5,1029.1 1245.2,995.6 				"></polygon>
                                    <polygon class="st6" points="1206.3,1106.1 1151,1072.7 1144,1078.5 1199.3,1111.9 				"></polygon>
                                    <polygon class="st6" points="1269.1,1054.7 1213.8,1021.3 1206.8,1027.1 1262.1,1060.5 				"></polygon>
                                    <polygon class="st6" points="1112.6,1104.2 1167.9,1137.6 1174.9,1131.8 1119.6,1098.4 				"></polygon>
                                    <polygon class="st6" points="1237.7,1080.4 1182.4,1047 1175.4,1052.8 1230.7,1086.2 				"></polygon>
                                </g>
                            </g>
                        </a>
                        <path class="indicatorLine" d="M810.4,1426.6c-7.2,0-13.4,4.3-16.1,10.5H0v14.2h794.3c2.7,6.2,8.9,10.5,16.1,10.5
                            c9.7,0,17.6-7.9,17.6-17.6S820.1,1426.6,810.4,1426.6z"></path>
                    </g>
                </svg>
            </div>
        </div>
    </div>

        {# <div class="col col-12 p-2 p-lg-3 p-hR-hR3">
             {% if entry.heading5 %}
                <h3>{{entry.heading5}}</h3>
            {% endif %} 
        </div> #}

    <div class="black-group d-flex flex-column flex-md-row flex-md-wrap ">
        <div class="col col-12 p-2 p-lg-3 p-hR-hR3">
             {% if entry.heading6 %}
                <h3>{{entry.heading6}}</h3>
            {% endif %} 
        </div>
        <div class="col-12 d-flex flex-column flex-md-row flex-md-wrap px-md-1 px-lg-2 px-hR-hR2">
            <a class="col col-12 col-md-6 col-lg-3 p-2 pt-md-0 pb-md-3 px-md-1 pb-hR-hR3 px-hR-hR1" href="/" role="button">
                <div class="">
                    <div class="img-fit-wrapper four-pods">
                        <img src="uploads/images/eHaus-central-lakes.webp" alt="placeholder" class="img-fit">
                    </div>
                    <h3 class="body-font mt-1 mt-lg-2 mt-hR-hR2">Title</h3>
                    <p>5Merchants</p>
                </div>
            </a>
            <a class="col col-12 col-md-6 col-lg-3 p-2 pt-md-0 pb-md-3 px-md-1 pb-hR-hR3 px-hR-hR1" href="/" role="button">
                <div class="">
                    <div class="img-fit-wrapper four-pods">
                        <img src="uploads/images/eHaus-central-lakes.webp" alt="placeholder" class="img-fit">
                    </div>
                    <h3 class="body-font mt-1 mt-lg-2 mt-hR-hR2">Title</h3>
                    <p>5Merchants</p>
                </div>
            </a>
        </div>
    </div>

    <div class="teal-group d-flex flex-column flex-md-row flex-md-wrap ">
        <div class="col col-12 container-one">
            {% if entry.heading7 %}
                <h3 class="mb-2 mb-md-3 mb-hR-hR3">{{entry.heading7}}</h3>
            {% endif %} 
            <div class="container-one bg-light-opacity">
                <p>lorem</p>
            </div>
        </div>
    </div>


    {% endfor %} 
{% endblock %}