{% extends "_layout.twig" %} 
{% set bodyAttributes ={ class: "our-principles" } %} 
{% set docTitle = entry.title %} 
{# {% set metaDesc = entry.metaDescription %}  #}

{% set page = craft.entries().section('ourPrinciples').all() %} 
{% block content %} 
    {% for entry in page %} 

    <div class="contained-content pt-4  pt-sm-vw-sm pt-md-vw-xs ">
        <div class="contain d-flex flex-column flex-sm-row border-bottom border-cust-red pb-4 pb-sm-vw-sm pb-md-vw-xs">
            <div class="col col-12 col-sm-4 pe-sm-2 pe-hR-hR2">
                {% if entry.heading %} 
                    <h1>{{entry.heading}}</h1>
                {% endif %} 
            </div>
            <div class="col col-12 col-sm-8">
                {% if entry.bodyText %} 
                    <div>{{entry.bodyText}}</div>
                {% endif %} 

                {% set img = entry.image.one() %}
                {% if img %}
                    <img src="{{img.getUrl}}" alt="{{img.alt}}" class="img-fluid my-2 my-hR-hR2">
                {% endif %}

                {% if entry.bodyText2 %} 
                    <div>{{entry.bodyText2}}</div>
                {% endif %} 
            </div>
        </div>
    </div>

    <div class="contained-content pt-4  pt-sm-vw-sm pt-md-vw-xs ">
        <div class="contain d-flex flex-column flex-sm-row border-bottom border-cust-red pb-4 pb-sm-vw-sm pb-md-vw-xs">
            <div class="col col-12 col-sm-4">
                {% if entry.heading2 %} 
                    <h2>{{entry.heading2}}</h2>
                {% endif %} 
            </div>
             <div class="col col-12 col-sm-8">
                {% if entry.bodyText3 %} 
                    <div>{{entry.bodyText3}}</div>
                {% endif %}
             </div>
        </div>
    </div>

    <div class="contained-content pt-4  pt-sm-vw-sm pt-md-vw-xs ">
        <div class="contain d-flex flex-column flex-sm-row border-bottom border-cust-red pb-4 pb-sm-vw-sm pb-md-vw-xs">
            <div class="col col-12 col-sm-4">
                {% if entry.heading3 %} 
                    <h2>{{entry.heading3}}</h2>
                {% endif %} 
            </div>
             <div class="col col-12 col-sm-8 ul-4-col">
                {% if entry.bodyText4 %} 
                    <div>{{entry.bodyText4}}</div>
                {% endif %}
             </div>
        </div>
    </div>

    <div class="contained-content pt-4  pt-sm-vw-sm pt-md-vw-xs ">
        <div class="contain d-flex flex-column flex-sm-row border-bottom border-cust-red pb-4 pb-sm-vw-sm pb-md-vw-xs">
            <div class="col col-12 col-sm-4">
                {% if entry.heading4 %} 
                    <h2>{{entry.heading4}}</h2>
                {% endif %} 
            </div>
             <div class="col col-12 col-sm-8">
                {% if entry.bodyText5 %} 
                    <div>{{entry.bodyText5}}</div>
                {% endif %}
             </div>
        </div>
    </div>

    <div class="contained-content pt-4  pt-sm-vw-sm pt-md-vw-xs ">
        <div class="contain d-flex flex-column flex-sm-row border-bottom border-cust-red pb-4 pb-sm-vw-sm pb-md-vw-xs">
            <div class="col col-12 col-sm-4">
                {% if entry.heading5 %} 
                    <h2>{{entry.heading5}}</h2>
                {% endif %} 
            </div>
             <div class="col col-12 col-sm-8">
                {% if entry.bodyText6 %} 
                    <div>{{entry.bodyText6}}</div>
                {% endif %}
             </div>
        </div>
    </div>
    <div class="contained-content pt-4  pt-sm-vw-sm pt-md-vw-xs ">
        <div class="contain d-flex flex-column flex-sm-row pb-4 pb-sm-vw-sm pb-md-vw-xs">
            <div class="col col-12 col-sm-4">
                {% if entry.heading6 %} 
                    <h2>{{entry.heading6}}</h2>
                {% endif %} 
            </div>
             <div class="col col-12 col-sm-8">
                {% if entry.bodyText7 %} 
                    <div>{{entry.bodyText7}}</div>
                {% endif %}
             </div>
        </div>
    </div>
    {% endfor %} 
{% endblock %}