{% extends "_layout.twig" %} 
{% set bodyAttributes ={ class: "ventilation" } %} 
{% set docTitle = entry.title %} 
{# {% set metaDesc = entry.metaDescription %}  #}

{% set page = craft.entries().section('ventilation').all() %} 
{% block content %} 
    {% for entry in page %}     
    <div class="contained-content py-2 py-sm-vw-sm bg-cust-darkGrey">
        <div class="contain d-flex flex-column flex-sm-row flex-wrap ">

            <div class="col col-12 col-sm-3 col-lg-4 d-flex flex-row justify-content-center align-items-center">
                {% set img = entry.image5.one() %}
                {% if img %}
                    <img src="{{img.getUrl}}" alt="{{img.alt}}" class="img-fluid sm-img">
                {% endif %}
            </div>
            <div class="col col-12 col-sm-8 col-lg-6 offset-sm-1 offset-lg-2">
                 {% if entry.heading4 %}<h1 class="text-cust-teal mb-2">{{entry.heading4}}</h1>{% endif %}
                {% if entry.bodyText %}
                    {{entry.bodyText}}
                {% endif %}
                {% if entry.buttonText %}
                    <div class="underline-btn mt-2 mt-md-vw-sm mt-lg-vw-xx">
                        <a href="#booking-form" role="button">{{ entry.buttonText }} <i class='bx bx-down-arrow-alt'></i></a>
                    </div>
                {% endif %}
            </div>

        </div>
    </div>
    
    <div class="contained-content py-4  py-sm-vw-sm py-md-vw-xs">
        <div class="contain d-flex flex-column flex-sm-row">
            <div class="col col-12 col-sm-5 col-md-6 col-lg-7 py-sm-vw-xs">
                {% if entry.heading3 %}
                    <h2 class="mb-vw-xs ">{{entry.heading3}}</h2>
                {% endif %}
                {% if entry.bodyText2 %}
                    <div>{{entry.bodyText2}}</div>
                {% endif %}
                {% if entry.buttonText %}
                    <div class="underline-btn my-2 mb-sm-0 mt-md-vw-sm mt-lg-vw-xx">
                        <a href="#booking-form" role="button">{{ entry.buttonText }} <i class='bx bx-down-arrow-alt'></i></a>
                    </div>
                {% endif %}
            </div>
            <div class="col col-12 col-sm-6 col-md-5 offset-sm-1 col-lg-4 img-fit-wrapper">
                {% set img = entry.image.one() %}
                {% if img %}
                    <img src="{{img.getUrl}}" alt="{{img.alt}}" class="img-fit">
                {% endif %}
            </div>
        </div>
    </div>



    <div class="contained-content py-sm-vw-sm py-md-vw-xs">
        <div class="contain d-flex flex-column">
            {% if entry.heading %}
                <h2 class="mb-vw-xs">{{entry.heading}}</h2>
            {% endif %}

            <div class="d-flex flex-column flex-sm-row flex-sm-wrap pb-2 pb-md-vw-xx">

                <div class="col col-12 col-sm-6 col-md-4 d-flex flex-sm-row  align-items-center ">
                    <div class="col col-4 col-sm-3 p-1 p-hR-hR1">
                        {% set img = entry.image2.one() %}
                        {% if img %}
                            <img src="{{img.getUrl}}" alt="{{img.alt}}" class="img-fluid">
                        {% endif %}
                    </div>
                    <div class="col col-8 col-sm-9">
                        {% if entry.bodyText3 %}
                            <div>{{entry.bodyText3}}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="col col-12 col-sm-6 col-md-4 d-flex flex-sm-row align-items-center flex-wrap">
                    <div class="col col-4 col-sm-3 p-1 p-hR-hR1">
                        {% set img = entry.image3.one() %}
                        {% if img %}
                            <img src="{{img.getUrl}}" alt="{{img.alt}}" class="img-fluid">
                        {% endif %}
                    </div>
                    <div class="col col-8 col-sm-9">
                        {% if entry.bodyText4 %}
                            <div>{{entry.bodyText4}}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="col col-12 col-sm-6 col-md-4 d-flex flex-sm-row align-items-center flex-wrap">
                    <div class="col col-4 col-sm-3 p-1 p-hR-hR1">
                        {% set img = entry.image4.one() %}
                        {% if img %}
                            <img src="{{img.getUrl}}" alt="{{img.alt}}" class="img-fluid">
                        {% endif %}
                    </div>
                    <div class="col col-8 col-sm-9">
                        {% if entry.bodyText5 %}
                            <div>{{entry.bodyText5}}</div>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if entry.buttonText %}
                <div class="underline-btn mt-2 mt-md-vw-sm mt-lg-vw-xx">
                    <a href="#booking-form" role="button">{{ entry.buttonText }} <i class='bx bx-down-arrow-alt'></i></a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="contained-content  py-2 py-md-vw-xs">
        <div class="contain d-flex flex-column flex-sm-row">
            <div class="col col-sm-6 pe-sm-1 pe-lg-vw-xx">
                <div>
                    {% set img = entry.image9.one() %}
                    {% if img %}
                        <img src="{{img.getUrl}}" alt="{{img.alt}}" class="img-fluid">
                    {% endif %}
                </div>
                {% if entry.bodyText8 %}
                    <div class="py-2 py-sm-vw-xx">{{entry.bodyText8}}</div>
                {% endif %}
            </div>
            <div class="col col-sm-6 ps-sm-1 ps-lg-vw-xx mt-sm-2 mt-md-vw-xs">
                <div>
                    {% set img = entry.image10.one() %}
                    {% if img %}
                        <img src="{{img.getUrl}}" alt="{{img.alt}}" class="img-fluid">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


 <div class="contained-content py-sm-vw-sm py-md-vw-xs">
    <div class="col col-12  bg-primary">
        <h2> Shop replacement filters section</h2>
    </div>
</div>


    <div class="contained-content  py-2  py-sm-vw-sm py-md-vw-xs">
        <div class="contain d-flex flex-column flex-sm-row">

            <div class="col col-12 col-sm-6 col-md-5 col-lg-4  img-fit-wrapper mb-2 mb-sm-0">
                {% set img = entry.image6.one() %}
                {% if img %}
                    <img src="{{img.getUrl}}" alt="{{img.alt}}" class="img-fit">
                {% endif %}
            </div>

            <div class="col col-12 col-sm-6  offset-md-1 px-sm-2 px-md-0  py-sm-vw-xs">
                <div class="d-flex flex-column flex-md-row">
                    <div class="mb-1 mb-md-0 pe-md-1 col-sm-4">
                        {% set img = entry.image7.one() %}
                        {% if img %}
                            <img src="{{img.getUrl}}" alt="{{img.alt}}" class="img-fluid">
                        {% endif %}
                    </div>

                </div>
               
                <div class="col-12 mt-2 mt-hR-hR2">
                     {% if entry.bodyText6 %}
                        {{entry.bodyText6}}
                    {% endif %}
                    {% if entry.buttonText %}
                        <div class="underline-btn mt-2 mt-md-vw-sm mt-lg-vw-xx">
                            <a href="#booking-form" role="button">{{ entry.buttonText }} <i class='bx bx-down-arrow-alt'></i></a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="contained-content py-2 py-sm-vw-sm py-md-vw-xs" id="booking-form">
        <div class="contain d-flex flex-column flex-md-row">

            <div class="col col-12 col-md-6 col-lg-5  mb-2 mb-sm-0 pe-sm-2  pe-md-3">
                {% if entry.heading2 %}
                    <h2 class="mb-2 mb-hR-hR2">{{entry.heading2}}</h2>
                {% endif %}
                {% if entry.bodyText7 %}
                    <div>{{entry.bodyText7}}</div>
                {% endif %}
            </div>
            <div class="col col-12 col-md-6 offset-lg-1  mt-2 mt-md-0 bg-primary">
                <h2> form placeholder</h2>
            </div>
        </div>
    </div>


    {% endfor %} 
{% endblock %}